@import "../fonts/TTInterfaces/stylesheet.css" all;
@import "../fonts/Akrobat/stylesheet.css" all;
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  outline: none;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a, b, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 60px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 800;
  line-height: 90%;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}

h3 {
  font-size: 20px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

p, time {
  font-size: 14px;
  padding: 20px 0;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #FFFFFF;
}

b {
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  color: #131212;
}

span {
  font-size: 16px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

a {
  font-size: 14px;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: underline;
  color: #249D6A;
}

input {
  font-size: 16px;
  padding: 20px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  border: none;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: white;
}
input:last-of-type {
  margin-bottom: 3.125vw;
}
input:first-of-type {
  margin-top: -0.78125vw;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 1280px) {
  h2 {
    font-size: 4.6875vw;
  }

  h3 {
    font-size: 1.5625vw;
  }

  p, time {
    font-size: 1.09375vw;
    padding: 1.5625vw 0;
  }

  b {
    font-size: 1.09375vw;
  }

  span {
    font-size: 1.25vw;
  }

  a {
    font-size: 1.09375vw;
  }

  input {
    border-bottom: 0.15625vw solid rgba(255, 255, 255, 0.1);
    padding: 1.5625vw 0;
    font-size: 1.25vw;
  }
}
@media (max-width: 900px) {
  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 20px;
  }

  p, time {
    font-size: 14px;
    padding: 2.2222222222vw 0;
  }

  b {
    font-size: 14px;
  }

  span {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  input {
    border-bottom: 0.2222222222vw solid rgba(255, 255, 255, 0.1);
    padding: 2.2222222222vw 0;
    font-size: 16px;
  }

  hr {
    background: #FFFFFF;
    border: 0.1111111111vw solid #FFFFFF;
  }
}
@media (max-width: 520px) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }

  p, time {
    font-size: 14px;
    padding: 3.8461538462vw 0;
  }

  b {
    font-size: 14px;
  }

  span {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  input {
    border-bottom: 0.3846153846vw solid rgba(255, 255, 255, 0.1);
    padding: 3.8461538462vw 0;
    font-size: 16px;
  }

  hr {
    background: #FFFFFF;
    border: 0.1923076923vw solid #FFFFFF;
  }
}
.numbers {
  padding: 20px 20px 20px;
  width: 37.5vw;
  position: fixed;
  display: flex;
  right: 0;
  top: 0;
  z-index: 10;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
@media (min-width: 1280px) {
  .numbers {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .numbers {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .numbers {
    padding: 3.8461538462vw 2.2222222222vw 2.2222222222vw;
  }
}
.numbers_green {
  color: #249D6A;
  border-color: #249D6A;
}
.numbers__block {
  padding: 22px 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25vw;
  line-height: 100%;
  text-decoration-line: none;
  color: inherit;
  border-color: inherit;
  border: 2px solid;
}
.numbers__block:last-of-type {
  border-left: none;
}

@media (min-width: 1280px) {
  .numbers__block {
    padding: 1.71875vw 0;
    font-size: 1.25vw;
  }
}
@media (max-width: 900px) {
  .numbers {
    width: 50vw;
  }
  .numbers__block {
    padding: 2.4444444444vw 0;
    font-size: 14px;
  }
}
@media (max-width: 520px) {
  .numbers {
    display: none;
  }
}
.button {
  font-size: 16px;
  padding: 22px;
  cursor: pointer;
  border: none;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  transition: 0.1s;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.button:hover {
  background: #249D6A;
  color: #FFFFFF;
}
.button_green {
  background: #249D6A;
  color: #FFFFFF;
}
.button_green:hover {
  background: #FFFFFF;
  color: #249D6A;
}
.button_menu {
  display: none;
  padding: 22px;
  border: 2px solid #FFFFFF;
  font-size: 14px;
  width: 100%;
  background: transparent;
  color: #FFFFFF;
}
.button_menu:hover {
  background: #FFFFFF;
  color: #131212;
}

@media (min-width: 1280px) {
  .button {
    font-size: 1.25vw;
    padding: 1.71875vw;
  }
}
@media (max-width: 900px) {
  .button {
    padding: 2.4444444444vw 0;
    font-size: 14px;
  }
  .button_white-border {
    font-size: 14px;
  }
  .button_green-border {
    font-size: 14px;
  }
  .button_menu {
    display: block;
    padding: 2.4444444444vw;
    font-size: 14px;
  }
}
@media (max-width: 520px) {
  .button {
    padding: 4.2307692308vw 0;
    font-size: 14px;
  }
  .button_white-border {
    font-size: 14px;
  }
  .button_green-border {
    font-size: 14px;
  }
  .button_menu {
    padding: 4.2307692308vw;
    font-size: 14px;
  }
}
main {
  margin-left: 25vw;
  width: 75vw;
  position: relative;
}

.menu {
  padding: 1.5625vw;
  background: #F4F4F4;
  width: 25vw;
  height: 100vh;
  position: fixed;
  display: flex;
  z-index: 10;
  flex-direction: column;
}
.menu__link {
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  text-decoration-line: none;
  margin: 0.9375vw 0;
  transition: 0.15s color;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #131212;
}
.menu__link:hover {
  color: #249D6A;
}
.menu__line {
  background-color: rgba(19, 18, 18, 0.1);
  height: 2px;
  border: none;
  margin: 1.5625vw 0;
}
.menu__line:first-of-type {
  margin-bottom: 0.625vw;
}
.menu__logo {
  position: relative;
  width: 9.453125vw;
  left: 50%;
  margin-left: -4.6875vw;
}
.menu__address {
  font-family: TT Interfaces;
  text-transform: unset;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  margin: 2.34375vw 0;
  color: rgba(19, 18, 18, 0.7);
}
.menu__drive {
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-decoration: underline;
  margin-bottom: 3.125vw;
  color: #249D6A;
}
.menu__drive:hover {
  text-decoration: none;
}

.lang {
  cursor: pointer;
  border: 2px solid rgba(19, 18, 18, 0.7);
  border-radius: 50%;
  padding: 0.12vw;
  transition: 0.15s border;
  margin-right: 10px;
  width: 30px;
}

.lang:hover {
  border: 2px solid #249D6A;
}

@media (min-width: 1280px) {
  .menu__link {
    font-size: 1.25vw;
  }
  .menu__line {
    height: 0.15625vw;
  }
  .menu__address {
    font-size: 0.9375vw;
  }
  .menu__drive {
    font-size: 0.9375vw;
  }
}
@media (max-width: 900px) {
  main {
    position: static;
    width: 100vw;
    margin-left: 0;
  }

  .menu {
    display: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
  }
  .menu--small {
    padding: 20px 20px 20px;
    position: fixed;
    z-index: 10;
    width: 50vw;
    top: 0;
    left: 0;
  }
}
@media (max-width: 900px) and (min-width: 1280px) {
  .menu--small {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  .menu--small {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 900px) and (max-width: 520px) {
  .menu--small {
    padding: 3.8461538462vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .menu--small {
    width: 100vw;
  }
}
.landing-about {
  padding: 7.8125vw 1.5625vw 1.5625vw;
  background: #249D6A;
}
.landing-about__text {
  width: 50%;
  color: #FFFFFF;
}

@media (max-width: 640px) {
  .landing-about {
    padding: 15.625vw 3.125vw 3.125vw;
  }
}
@media (max-width: 420px) {
  .landing-about {
    padding: 31.25vw 6.25vw 6.25vw;
  }
  .landing-about__text {
    width: 100%;
  }
}
.features {
  display: flex;
  flex-wrap: wrap;
}
.features__item {
  position: relative;
  min-height: 15vw;
  min-width: 15vw;
  width: 25%;
  height: 18.75vw;
  object-fit: cover;
  overflow: hidden;
}
.features__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  width: 100%;
  height: 100%;
}
.features__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  font-size: 14px;
  width: 100%;
  height: 100%;
  background: rgba(19, 18, 18, 0.6);
}

@media (max-width: 640px) {
  .features__item {
    height: 25vw;
  }
}
@media (max-width: 420px) {
  .features__item {
    width: 50%;
    height: 50vw;
  }
  .features__title {
    font-size: 4.375vw;
  }
}
.contacts {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.contacts__inner {
  width: 37.5vw;
  flex-grow: 1;
  padding: 1.5625vw;
}
.contacts__title {
  color: #249D6A;
  padding-bottom: 1.5625vw;
}
.contacts__text-item {
  padding-bottom: 1.5625vw;
}
.contacts__text-item b {
  color: #131212;
}
.contacts__text-item p {
  padding: 0;
  color: rgba(19, 18, 18, 0.7);
}
.contacts__map {
  background: #FFFFFF;
  width: 37.5vw;
  height: 100vh;
}

[class*=ymaps-2][class*=-ground-pane] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}

@media (max-width: 640px) {
  .contacts__inner {
    width: 50vw;
    padding: 3.125vw;
  }
  .contacts__map {
    width: 50vw;
  }
}
@media (max-width: 420px) {
  .contacts {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .contacts__inner {
    width: 100%;
    padding: 6.25vw;
  }
  .contacts__title {
    color: #249D6A;
    padding-bottom: 6.25vw;
  }
  .contacts__text-item {
    padding-bottom: 6.25vw;
  }
  .contacts__map {
    width: 100%;
    height: 40vh;
  }
}

/*# sourceMappingURL=about.css.map */
