@import "../fonts/TTInterfaces/stylesheet.css" all;
@import "../fonts/Akrobat/stylesheet.css" all;
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  outline: none;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a, b, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 60px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 800;
  line-height: 90%;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}

h3 {
  font-size: 20px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

p, time {
  font-size: 14px;
  padding: 20px 0;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #FFFFFF;
}

b {
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  color: #131212;
}

span {
  font-size: 16px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

a {
  font-size: 14px;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: underline;
  color: #249D6A;
}

input {
  font-size: 16px;
  padding: 20px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  border: none;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: white;
}
input:last-of-type {
  margin-bottom: 3.125vw;
}
input:first-of-type {
  margin-top: -0.78125vw;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 1280px) {
  h2 {
    font-size: 4.6875vw;
  }

  h3 {
    font-size: 1.5625vw;
  }

  p, time {
    font-size: 1.09375vw;
    padding: 1.5625vw 0;
  }

  b {
    font-size: 1.09375vw;
  }

  span {
    font-size: 1.25vw;
  }

  a {
    font-size: 1.09375vw;
  }

  input {
    border-bottom: 0.15625vw solid rgba(255, 255, 255, 0.1);
    padding: 1.5625vw 0;
    font-size: 1.25vw;
  }
}
@media (max-width: 900px) {
  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 20px;
  }

  p, time {
    font-size: 14px;
    padding: 2.2222222222vw 0;
  }

  b {
    font-size: 14px;
  }

  span {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  input {
    border-bottom: 0.2222222222vw solid rgba(255, 255, 255, 0.1);
    padding: 2.2222222222vw 0;
    font-size: 16px;
  }

  hr {
    background: #FFFFFF;
    border: 0.1111111111vw solid #FFFFFF;
  }
}
@media (max-width: 520px) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }

  p, time {
    font-size: 14px;
    padding: 3.8461538462vw 0;
  }

  b {
    font-size: 14px;
  }

  span {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  input {
    border-bottom: 0.3846153846vw solid rgba(255, 255, 255, 0.1);
    padding: 3.8461538462vw 0;
    font-size: 16px;
  }

  hr {
    background: #FFFFFF;
    border: 0.1923076923vw solid #FFFFFF;
  }
}
.numbers {
  padding: 20px 20px 20px;
  width: 37.5vw;
  position: fixed;
  display: flex;
  right: 0;
  top: 0;
  z-index: 10;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
@media (min-width: 1280px) {
  .numbers {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .numbers {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .numbers {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
.numbers_green {
  color: #249D6A;
  border-color: #249D6A;
}
.numbers_menu {
  display: none;
  position: static;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  color: #249D6A;
  border-color: #249D6A;
}
.numbers__block {
  border: 2px solid;
  padding: 22px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-decoration-line: none;
  color: inherit;
  border-color: inherit;
  border: 2px solid;
}
.numbers__block__wrapper {
  overflow: hidden;
  height: 1em;
}
.numbers__block:hover {
  background-color: #249D6A;
  color: #FFFFFF;
}
.numbers__block:hover .button__inner {
  transition: 0.3s;
  transform: translateY(-2em);
}
.numbers__block--green {
  background: #249D6A;
  border: 2px solid #249D6A;
  color: #FFFFFF;
}
.numbers__block--green:hover {
  background: #FFFFFF;
  color: #249D6A;
}
.numbers__block__inner {
  margin-top: -0.1em;
}
.numbers__block:last-of-type {
  border-left: none;
}
.numbers_toggle {
  display: none;
}

@media (min-width: 1280px) {
  .numbers__block {
    border: 0.15625vw solid;
    padding: 1.71875vw 0;
    font-size: 1.25vw;
  }
  .numbers_menu {
    position: static;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .numbers_menu {
    display: none;
  }
}
@media (max-width: 900px) {
  .numbers {
    width: 50vw;
  }
  .numbers__block {
    padding: 2.4444444444vw 0;
    font-size: 14px;
  }
  .numbers_menu {
    display: flex;
    position: static;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
@media (max-width: 520px) {
  .numbers {
    display: none;
  }
  .numbers_menu {
    display: flex;
    flex-direction: column;
    position: static;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .numbers__block {
    font-size: 16px;
    border: 2px solid;
    padding: 4.2307692308vw 0;
    width: 100%;
    border: 2px solid;
  }
  .numbers__block:last-of-type {
    border-left: 2px solid;
    border-top: none;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 22px;
  cursor: pointer;
  border: none;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  transition: 0.1s;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.button__wrapper {
  overflow: hidden;
  height: 1em;
}
.button:hover {
  background-color: #249D6A;
  color: #FFFFFF;
}
.button:hover .button__inner {
  transition: 0.3s;
  transform: translateY(-2em);
}
.button--green {
  background: #249D6A;
  border: 2px solid #249D6A;
  color: #FFFFFF;
}
.button--green:hover {
  background: #FFFFFF;
  color: #249D6A;
}
.button--white {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #131212;
}
.button--white:hover {
  background: #249D6A;
  color: #FFFFFF;
}
.button__inner {
  margin-top: -0.1em;
}
.button_menu {
  display: none;
  padding: 22px;
  border: 2px solid #FFFFFF;
  font-size: 14px;
  width: 100%;
  background: transparent;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}
.button_close {
  display: none;
  background: url("../media/btn_close.svg") no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.button_close-active {
  display: flex;
}
.button_menu:hover {
  background: #FFFFFF;
  color: #131212;
}
.button_calc {
  width: 50%;
}
.button--hunt-slider {
  width: 100%;
}

@media (min-width: 1280px) {
  .button {
    font-size: 1.25vw;
    padding: 1.71875vw;
  }
}
@media (max-width: 900px) {
  .button {
    padding: 2.4444444444vw 0;
    font-size: 14px;
  }
  .button_white-border {
    font-size: 14px;
  }
  .button_green-border {
    font-size: 14px;
  }
  .button_menu {
    display: block;
    padding: 2.4444444444vw;
    font-size: 14px;
  }
}
@media (max-width: 520px) {
  .button {
    padding: 4.2307692308vw 0;
    font-size: 14px;
  }
  .button_white-border {
    font-size: 14px;
  }
  .button_green-border {
    font-size: 14px;
  }
  .button_menu {
    padding: 4.2307692308vw;
    font-size: 14px;
  }
}
main {
  margin-left: 25%;
  width: 75%;
  position: relative;
}
main-fixed {
  overflow: hidden;
}

.menu {
  padding: 20px;
  background: transparent;
  width: 25%;
  height: 100%;
  position: fixed;
  display: flex;
  z-index: 20;
  flex-direction: column;
}
.menu--colorbg {
  background: #E5E5E5;
}
.menu__wrapper {
  display: none;
}
.menu--show {
  background: #F4F4F4;
}
.menu--show .menu__wrapper {
  display: block;
}
.menu__link {
  font-size: 16px;
  padding: 6px 0;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-decoration-line: none;
  text-transform: uppercase;
  color: #131212;
  transition: 0.15s color;
  display: flex;
  align-items: center;
}
.menu__link:hover {
  color: #249D6A;
}
.menu__line {
  background-color: rgba(19, 18, 18, 0.1);
  height: 2px;
  border: none;
  margin: 14px 0;
}
.menu__logo-box {
  margin: 0 auto;
}
.menu__logo-box:hover {
  transform: scale(1.1);
}
.menu__logo {
  width: 121px;
  max-width: 100%;
}
.menu__logo-container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
}
.menu__address {
  font-size: 12px;
  margin: 30px 0;
  font-family: TT Interfaces;
  text-transform: unset;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: rgba(19, 18, 18, 0.4);
  display: block;
}
.menu__drive {
  margin-bottom: 40px;
  display: block;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-decoration: underline;
  color: #249D6A;
}
.menu__drive:hover {
  text-decoration: none;
}
.menu__bottom-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.lang {
  cursor: pointer;
  border: 2px solid rgba(19, 18, 18, 0.1);
  border-radius: 50%;
  padding: 3px;
  transition: 0.15s border;
  margin-top: 17px;
  margin-right: 10px;
  width: 30px;
}
.lang--active {
  border: 2px solid #249D6A;
}

.lang:hover {
  border: 2px solid #249D6A;
}

@media (min-width: 1280px) {
  .lang {
    border: 0.15625vw solid rgba(19, 18, 18, 0.1);
    padding: 0.234375vw;
    margin-top: 1.328125vw;
    margin-right: 0.78125vw;
    width: 2.34375vw;
  }
  .lang--active {
    border: 0.15625vw solid #249D6A;
  }

  .lang:hover {
    border: 0.15625vw solid #249D6A;
  }
}
.popup {
  position: fixed;
  width: 75%;
  z-index: 20;
  height: 100%;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup__body {
  display: flex;
  padding: 20px 20px 20px;
  flex-direction: column;
  background: #249D6A;
  min-height: 100%;
}
@media (min-width: 1280px) {
  .popup__body {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .popup__body {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .popup__body {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
.popup__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 20px;
}
.popup__close {
  text-align: right;
  background-repeat: no-repeat;
}
.popup__close a {
  content: " ";
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
  vertical-align: center;
}
.popup__close img:hover {
  transform: rotate(90deg);
  transition: transform 0.5s;
}
.popup__success {
  display: none;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

@media (min-width: 1280px) {
  .popup__success {
    font-size: 1.09375vw;
  }
}
@media (min-width: 1280px) {
  .menu {
    padding: 1.5625vw;
    width: 25%;
  }
  .menu__link {
    font-size: 1.25vw;
    padding: 0.46875vw 0;
  }
  .menu__line {
    height: 0.15625vw;
    margin: 1.09375vw 0;
  }
  .menu__logo {
    width: 9.453125vw;
  }
  .menu__address {
    font-size: 0.9375vw;
    margin: 2.34375vw 0;
  }
  .menu__drive {
    font-size: 0.9375vw;
    margin-bottom: 3.125vw;
  }
}
@media (max-width: 900px) {
  main {
    position: static;
    width: 100%;
    margin-left: 0;
  }
  main-fixed {
    overflow: hidden;
  }

  .menu {
    position: fixed;
    top: -100vh;
    padding: 2.2222222222vw;
    width: 100%;
    transition: transform 0.3s;
  }
  .menu__link {
    font-size: 16px;
    padding: 0.6666666667vw 0;
  }
  .menu__line {
    height: 0.2222222222vw;
    margin: 1.5555555556vw 0;
  }
  .menu__logo-box {
    margin: 0;
  }
  .menu__logo {
    width: 121px;
  }
  .menu__address {
    font-size: 12px;
    margin: 3.3333333333vw 0;
  }
  .menu__drive {
    font-size: 12px;
    margin-bottom: 4.4444444444vw;
  }
  .menu--small {
    padding: 20px 20px 20px;
    position: fixed;
    z-index: 10;
    width: 50%;
    top: 0;
    left: 0;
  }
}
@media (max-width: 900px) and (min-width: 1280px) {
  .menu--small {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  .menu--small {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 900px) and (max-width: 520px) {
  .menu--small {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
@media (max-width: 900px) {
  .menu .button_green {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .menu_show {
    padding: 20px 20px 20px;
    z-index: 20;
    transform: translateY(100%);
  }
}
@media (max-width: 900px) and (min-width: 1280px) {
  .menu_show {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  .menu_show {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 900px) and (max-width: 520px) {
  .menu_show {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
@media (max-width: 520px) {
  .menu {
    padding: 3.8461538462vw;
    transform: translatey(-100vh);
    width: 25%;
  }
  .menu__wrapper {
    display: none;
  }
  .menu_show {
    transform: translatey(100vh);
  }
  .menu__link {
    font-size: 16px;
    padding: 1.1538461538vw 0;
  }
  .menu__line {
    height: 0.3846153846vw;
    margin: 2.6923076923vw 0;
  }
  .menu__logo-box {
    margin: 0;
  }
  .menu__logo {
    width: 121px;
  }
  .menu__address {
    font-size: 12px;
    margin: 5.7692307692vw 0;
  }
  .menu__drive {
    font-size: 12px;
    margin-bottom: 7.6923076923vw;
  }
  .menu--small {
    width: 100%;
  }
  .menu .button_green {
    width: 100%;
  }

  .menu_show {
    padding: 20px 20px 20px;
    z-index: 20;
    display: block;
    width: 100%;
  }
}
@media (max-width: 520px) and (min-width: 1280px) {
  .menu_show {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 520px) and (max-width: 900px) {
  .menu_show {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) and (max-width: 520px) {
  .menu_show {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
html {
  scroll-behavior: smooth;
}

.landing-about {
  padding: 100px 20px 20px;
  background: #249D6A;
}
@media (min-width: 1280px) {
  .landing-about {
    padding: 7.8125vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .landing-about {
    padding: 11.1111111111vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .landing-about {
    padding: 19.2307692308vw 3.8461538462vw;
  }
}
.landing-about h2 {
  width: 50%;
}
.landing-about__text {
  color: #FFFFFF;
  width: 50%;
}

@media (max-width: 520px) {
  .landing-about__text {
    width: 100%;
  }
}
.landing-about {
  padding: 100px 20px 20px;
  background: #249D6A;
}
@media (min-width: 1280px) {
  .landing-about {
    padding: 7.8125vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .landing-about {
    padding: 11.1111111111vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .landing-about {
    padding: 19.2307692308vw 3.8461538462vw;
  }
}
.landing-about h2 {
  width: 50%;
}
.landing-about__text {
  color: #FFFFFF;
  width: 50%;
}

@media (max-width: 520px) {
  .landing-about__text {
    width: 100%;
  }
}
.features {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.features__item {
  width: 25%;
  margin: 0 auto;
  overflow: hidden;
}
.features__item-inner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50%;
  padding-bottom: 50%;
  object-fit: cover;
}
.features__item-inner::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(19, 18, 18, 0.6);
}
.features__item-inner:hover .features__img {
  transform: scale(1.1) translate(-50%, -50%);
}
.features__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  width: 100%;
  height: 100%;
}
.features__title {
  font-size: 14px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  text-align: center;
}

@media (min-width: 1280px) {
  .features__title {
    font-size: 1.09375vw;
  }
}
@media (max-width: 900px) {
  .features__title {
    font-size: 14px;
  }
  .features__item {
    width: 25%;
  }
}
@media (max-width: 520px) {
  .features__item {
    width: 50%;
    min-width: 30.7692307692vw;
  }
  .features__title {
    font-size: 14px;
  }
}
.contacts {
  display: flex;
  flex-direction: row;
  min-height: 50vh;
}
.contacts__inner {
  padding: 20px 20px 20px;
  width: 37.5vw;
}
@media (min-width: 1280px) {
  .contacts__inner {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .contacts__inner {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .contacts__inner {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
.contacts__title {
  color: #249D6A;
  padding-bottom: 40px;
}
.contacts__text-item {
  margin-top: 20px;
}
.contacts__text-item b {
  color: #131212;
}
.contacts__text-item p {
  padding: 0;
  color: rgba(19, 18, 18, 0.7);
}
.contacts p.contacts__too {
  opacity: 0.6;
}
.contacts__map {
  background: #FFFFFF;
  width: 37.5vw;
  height: inherit;
}

[class*=ymaps-2][class*=-ground-pane] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}

@media (min-width: 1280px) {
  .contacts__title {
    padding-bottom: 3.125vw;
  }
}
@media (max-width: 900px) {
  .contacts__title {
    padding-bottom: 2.2222222222vw;
  }
  .contacts__inner {
    width: 50vw;
  }
  .contacts__map {
    width: 50vw;
  }
}
@media (max-width: 520px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
  .contacts__inner {
    width: 100%;
  }
  .contacts__title {
    color: #249D6A;
    padding-bottom: 3.8461538462vw;
  }
  .contacts__map {
    width: 100%;
    min-height: 40vh;
  }
}
.slider {
  position: relative;
  height: 240px;
  width: 100%;
  transition: height 0.5s ease;
}
.slider:hover .slider__cell img {
  transform: scale(1.1);
}
.slider__title {
  position: absolute;
  margin: 20px;
  top: 0;
  left: 0;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 3;
}
.slider__content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider__cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(1);
  transition: transform 0.5s ease;
}
.slider__cell-img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.slider .flickity-prev-next-button {
  display: none;
}
.slider--show {
  height: 600px;
  width: 100%;
}
.slider--show .flickity-prev-next-button {
  display: block;
}
.slider--show:hover .slider__cell img {
  transform: scale(1);
}
.slider--show .slider__cover {
  z-index: -1;
  opacity: 0;
  transition: z-index 0.5s, opacity 0.5s;
}
.slider--show .slider__cell {
  transform: scale(1);
}
.slider--show .slider__cell:hover {
  transform: scale(1);
}
.slider__cover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background: rgba(19, 18, 18, 0.6);
  z-index: 2;
  opacity: 1;
  transition: z-index 0s, opacity 0.5s;
}
.slider__arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: -1;
  opacity: 0;
  transition: z-index 0.5s, opacity 0.5s;
}
.slider--show .slider__arrow {
  z-index: 2;
  opacity: 1;
}
.slider__pre-item, .slider__nex-item {
  padding: 0;
}
.slider__line {
  display: block;
  background-color: white;
  height: 2px;
  width: 20px;
  margin: auto 5px;
}

@media (min-width: 1280px) {
  .slider {
    height: 18.75vw;
  }
  .slider__title {
    margin: 1.5625vw;
    font-size: 2.5vw;
  }
  .slider--show {
    height: 46.875vw;
  }
  .slider__arrow {
    margin: 1.5625vw;
  }
  .slider__line {
    height: 0.15625vw;
    width: 1.5625vw;
    margin: auto 0.390625vw;
  }
}
@media (max-width: 900px) {
  .slider {
    height: 26.6666666667vw;
  }
  .slider__title {
    margin: 2.2222222222vw;
    font-size: 3.5555555556vw;
  }
  .slider--show {
    height: 66.6666666667vw;
  }
  .slider__arrow {
    margin: 2.2222222222vw;
  }
  .slider__line {
    height: 0.2222222222vw;
    width: 2.2222222222vw;
    margin: auto 0.5555555556vw;
  }
}
@media (max-width: 520px) {
  .slider {
    height: 46.1538461538vw;
  }
  .slider__title {
    margin: 3.8461538462vw;
    font-size: 6.1538461538vw;
  }
  .slider--show {
    height: 115.3846153846vw;
  }
  .slider__arrow {
    margin: 3.8461538462vw;
  }
  .slider__line {
    height: 0.3846153846vw;
    width: 3.8461538462vw;
    margin: auto 0.9615384615vw;
  }
}

/*# sourceMappingURL=about.css.map */
