@import "../fonts/TTInterfaces/stylesheet.css" all;
@import "../fonts/Akrobat/stylesheet.css" all;
@import "helper";
@import "menu";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  outline: none;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.lang {

  cursor: pointer;
  border: 0.15625vw solid rgba(19, 18, 18, 0.1);
  border-radius: 50%;
  padding: 0.12vw;
  transition: .15s border;
  margin-right: 0.390625vw;
  width: 1.875vw;
}

.lang:hover {
  border: 0.15625vw solid #249D6A;
}

.button {
  cursor: pointer;
  border: none;
  height: 4.6875vw;

  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25vw;
  line-height: 100%;
  transition: .1s;

  text-transform: uppercase;

  &:hover {
    background: #19704c;
    color: #FFFFFF;
  }

  &_green {
    background: #249D6A;
    color: #FFFFFF;
  }

  &_green:hover {
    background: #fff;
    color: #249D6A;
  }

  &_green-border {
    background: transparent;
    border-color: #249D6A;
    color: #249D6A;
  }

  &_green-border:hover {
    background: #249D6A;
    color: #FFFFFF;
  }

  &_white-border {
    background: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
  }

  &_white-border:hover {
    background: #FFFFFF;
    color: #131212;
  }

  &_main-slider {
    width: 34.284375vw;
    position: absolute;
    bottom: 1.5625vw;
    right: 1.5625vw;
  }
}

main {
  margin-left: 25%;
  width: 75%;
  position: relative;
}

.half-screen {
  width: 50%;
}

.quarter-screen {
  width: 25%;
}

.numbers {
  width: 34.284375vw;
  position: fixed;
  right: 1.5625vw;
  top: 1.5625vw;
  display: flex;
  z-index: 10;

  color: #FFFFFF;
  border-color: #FFFFFF;

  &_green {
    color: #249D6A;
    border-color: #249D6A;
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 4.6875vw;
    font-family: Akrobat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25vw;
    line-height: 100%;

    color: inherit;
    border-color: inherit;
    border: 0.15625vw solid;
  }

  &__block:last-of-type {
    border-left: none;
  }
}

.title {
  margin: 0;
  width: 37.5vw;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 800;
  font-size: 4.6875vw;
  line-height: 90%;

  text-transform: uppercase;

  color: #249D6A;

  &_green {
    color: #FFFFFF;
  }
}

.location {
  display: flex;

  &__text {
    width: 50%;
    padding: 1.5625vw;

    b,
    span,
    p,
    a {
      font-family: TT Interfaces;
      font-style: normal;
      font-size: 1.25vw;
      line-height: 140%;
      display: flex;
      align-items: center;
    }
  }

  span,
  a {
    font-size: 1.09375vw;
    color: rgba(0, 0, 0, 0.7);
  }

  a {
    color: #249D6A;
    text-decoration: underline;

  }

  &__text-main {
    margin: 3.125vw 0;
  }
}


//map
.map {
  width: 50%;
  overflow: hidden;
}

[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}