@import "helper";

.button {
  display: none;
}

.contacts {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  &__inner {
    width: 37.5vw;
    flex-grow: 1;

    &-title {
      font-family: Akrobat;
      font-style: normal;
      font-weight: 800;
      font-size: get-vw(60px, 1280px);
      line-height: 90%;
      text-transform: uppercase;
      color: #FFFFFF;
      margin: 0;
      padding: get-vh(100px, 1280px) 0 40px 20px;
    }

    &-text {
      font-family: TT Interfaces;
      font-weight: 500;
      font-size: get-vw(12px, 1280px);
      line-height: 120%;

      padding: 0 20px;
      color: #FFFFFF;

      .place {
        padding-bottom: 20px;
      }

      b {
        font-weight: 700;
        font-size: get-vw(14px, 1280px);
        line-height: 140%;
      }

      p, span, a {
        font-size: get-vw(12px, 1280px);
        font-weight: normal;
        padding: 0;
        margin: 0;
      }

      a {
        color: #FFFFFF;
        text-decoration: underline;
      }
    }
  }

  &_green {
    background: #249D6A;
  }

  &__map {
    background: #FFFFFF;
    width: 37.5vw;
    height: 100vh;
  }
}

@import "contacts_media";

