/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @import "media/helper";
 *   |         ^^^^^^^^^^^^^^
 *   '
 *   ../media/_hunting-types_media.scss 1:9  @import
 *   hunting-types.scss 322:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @import \"media/helper\";\a   \2502          ^^^^^^^^^^^^^^\a   \2575 \a   ../media/_hunting-types_media.scss 1:9  @import\a   hunting-types.scss 322:9                root stylesheet";
}
