@import "../fonts/TTInterfaces/stylesheet.css" all;
@import "../fonts/Akrobat/stylesheet.css" all;
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  outline: none;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a, b, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 60px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 800;
  line-height: 90%;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}

h3 {
  font-size: 20px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

p, time {
  font-size: 14px;
  padding: 20px 0;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #FFFFFF;
}

b {
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  color: #131212;
}

span {
  font-size: 16px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

a {
  font-size: 14px;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: underline;
  color: #249D6A;
}

input {
  font-size: 16px;
  padding: 20px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  border: none;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: white;
}
input:last-of-type {
  margin-bottom: 3.125vw;
}
input:first-of-type {
  margin-top: -0.78125vw;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 1280px) {
  h2 {
    font-size: 4.6875vw;
  }

  h3 {
    font-size: 1.5625vw;
  }

  p, time {
    font-size: 1.09375vw;
    padding: 1.5625vw 0;
  }

  b {
    font-size: 1.09375vw;
  }

  span {
    font-size: 1.25vw;
  }

  a {
    font-size: 1.09375vw;
  }

  input {
    border-bottom: 0.15625vw solid rgba(255, 255, 255, 0.1);
    padding: 1.5625vw 0;
    font-size: 1.25vw;
  }
}
@media (max-width: 900px) {
  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 20px;
  }

  p, time {
    font-size: 14px;
    padding: 2.2222222222vw 0;
  }

  b {
    font-size: 14px;
  }

  span {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  input {
    border-bottom: 0.2222222222vw solid rgba(255, 255, 255, 0.1);
    padding: 2.2222222222vw 0;
    font-size: 16px;
  }

  hr {
    background: #FFFFFF;
    border: 0.1111111111vw solid #FFFFFF;
  }
}
@media (max-width: 520px) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }

  p, time {
    font-size: 14px;
    padding: 3.8461538462vw 0;
  }

  b {
    font-size: 14px;
  }

  span {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  input {
    border-bottom: 0.3846153846vw solid rgba(255, 255, 255, 0.1);
    padding: 3.8461538462vw 0;
    font-size: 16px;
  }

  hr {
    background: #FFFFFF;
    border: 0.1923076923vw solid #FFFFFF;
  }
}
.numbers {
  padding: 20px 20px 20px;
  width: 37.5vw;
  position: fixed;
  display: flex;
  right: 0;
  top: 0;
  z-index: 10;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
@media (min-width: 1280px) {
  .numbers {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .numbers {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .numbers {
    padding: 3.8461538462vw 2.2222222222vw 20px;
  }
}
.numbers_green {
  color: #249D6A;
  border-color: #249D6A;
}
.numbers_menu {
  display: none;
  position: static;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  color: #249D6A;
  border-color: #249D6A;
}
.numbers__block {
  border: 2px solid;
  padding: 22px 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25vw;
  line-height: 100%;
  text-decoration-line: none;
  color: inherit;
  border-color: inherit;
  border: 2px solid;
}
.numbers__block:last-of-type {
  border-left: none;
}
.numbers_toggle {
  display: none;
}

@media (min-width: 1280px) {
  .numbers__block {
    border: 0.15625vw solid;
    padding: 1.71875vw 0;
    font-size: 1.25vw;
  }
  .numbers_menu {
    position: static;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .numbers_menu {
    display: none;
  }
}
@media (max-width: 900px) {
  .numbers {
    width: 50vw;
  }
  .numbers__block {
    padding: 2.4444444444vw 0;
    font-size: 14px;
  }
  .numbers_menu {
    display: flex;
    position: static;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
@media (max-width: 520px) {
  .numbers {
    display: none;
  }
  .numbers_menu {
    position: static;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
.button {
  font-size: 16px;
  padding: 22px;
  cursor: pointer;
  border: none;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  transition: 0.1s;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.button:hover {
  background: #249D6A;
  color: #FFFFFF;
}
.button_green {
  background: #249D6A;
  color: #FFFFFF;
}
.button_green:hover {
  background: #FFFFFF;
  color: #249D6A;
}
.button_menu {
  display: none;
  padding: 22px;
  border: 2px solid #FFFFFF;
  font-size: 14px;
  width: 100%;
  background: transparent;
  color: #FFFFFF;
}
.button_close {
  display: none;
  background: url("../media/btn_close.svg") no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.button_close-active {
  display: flex;
  align-self: center;
}
.button_menu:hover {
  background: #FFFFFF;
  color: #131212;
}

@media (min-width: 1280px) {
  .button {
    font-size: 1.25vw;
    padding: 1.71875vw;
  }
}
@media (max-width: 900px) {
  .button {
    padding: 2.4444444444vw 0;
    font-size: 14px;
  }
  .button_white-border {
    font-size: 14px;
  }
  .button_green-border {
    font-size: 14px;
  }
  .button_menu {
    display: block;
    padding: 2.4444444444vw;
    font-size: 14px;
  }
}
@media (max-width: 520px) {
  .button {
    padding: 4.2307692308vw 0;
    font-size: 14px;
  }
  .button_white-border {
    font-size: 14px;
  }
  .button_green-border {
    font-size: 14px;
  }
  .button_menu {
    padding: 4.2307692308vw;
    font-size: 14px;
  }
}
main {
  margin-left: 25%;
  width: 75%;
  position: relative;
}
main-fixed {
  overflow: hidden;
}

.menu {
  padding: 20px;
  background: #F4F4F4;
  width: 25%;
  height: 100%;
  position: fixed;
  display: flex;
  z-index: 10;
  flex-direction: column;
}
.menu__link {
  font-size: 16px;
  padding: 6px 0;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-decoration-line: none;
  text-transform: uppercase;
  color: #131212;
  transition: 0.15s color;
  display: flex;
  align-items: center;
}
.menu__link:hover {
  color: #249D6A;
}
.menu__line {
  background-color: rgba(19, 18, 18, 0.1);
  height: 2px;
  border: none;
  margin: 14px 0;
}
.menu__logo-box {
  margin: 0 auto;
}
.menu__logo {
  width: 121px;
  max-width: 100%;
}
.menu__logo-container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
}
.menu__address {
  font-size: 12px;
  margin: 30px 0;
  font-family: TT Interfaces;
  text-transform: unset;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: rgba(19, 18, 18, 0.7);
  display: block;
}
.menu__drive {
  margin-bottom: 40px;
  display: block;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-decoration: underline;
  color: #249D6A;
}
.menu__drive:hover {
  text-decoration: none;
}
.menu__bottom-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.lang {
  cursor: pointer;
  border: 2px solid rgba(19, 18, 18, 0.7);
  border-radius: 50%;
  padding: 3px;
  transition: 0.15s border;
  margin-top: 17px;
  margin-right: 10px;
  width: 30px;
}

.lang:hover {
  border: 2px solid #249D6A;
}

@media (min-width: 1280px) {
  .lang {
    border: 0.15625vw solid rgba(19, 18, 18, 0.7);
    padding: 0.234375vw;
    margin-top: 1.328125vw;
    margin-right: 0.78125vw;
    width: 2.34375vw;
  }

  .lang:hover {
    border: 0.15625vw solid #249D6A;
  }
}
@media (min-width: 1280px) {
  .menu {
    padding: 1.5625vw;
    width: 25%;
  }
  .menu__link {
    font-size: 1.25vw;
    padding: 0.46875vw 0;
  }
  .menu__line {
    height: 0.15625vw;
    margin: 1.09375vw 0;
  }
  .menu__logo {
    width: 9.453125vw;
  }
  .menu__address {
    font-size: 0.9375vw;
    margin: 2.34375vw 0;
  }
  .menu__drive {
    font-size: 0.9375vw;
    margin-bottom: 3.125vw;
  }
}
@media (max-width: 900px) {
  main {
    position: static;
    width: 100%;
    margin-left: 0;
  }
  main-fixed {
    overflow: hidden;
  }

  .menu {
    display: none;
    padding: 2.2222222222vw;
    width: 25%;
  }
  .menu__link {
    font-size: 16px;
    padding: 0.6666666667vw 0;
  }
  .menu__line {
    height: 0.2222222222vw;
    margin: 1.5555555556vw 0;
  }
  .menu__logo-box {
    margin: 0;
  }
  .menu__logo {
    width: 13.4444444444vw;
  }
  .menu__address {
    font-size: 12px;
    margin: 3.3333333333vw 0;
  }
  .menu__drive {
    font-size: 12px;
    margin-bottom: 4.4444444444vw;
  }
  .menu--small {
    padding: 20px 20px 20px;
    position: fixed;
    z-index: 10;
    width: 50%;
    top: 0;
    left: 0;
  }
}
@media (max-width: 900px) and (min-width: 1280px) {
  .menu--small {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  .menu--small {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 900px) and (max-width: 520px) {
  .menu--small {
    padding: 3.8461538462vw 2.2222222222vw 20px;
  }
}
@media (max-width: 900px) {
  .menu .button_green {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .menu_show {
    padding: 20px 20px 20px;
    z-index: 20;
    display: block;
    width: 100%;
  }
}
@media (max-width: 900px) and (min-width: 1280px) {
  .menu_show {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  .menu_show {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 900px) and (max-width: 520px) {
  .menu_show {
    padding: 3.8461538462vw 2.2222222222vw 20px;
  }
}
@media (max-width: 520px) {
  .menu--small {
    width: 100%;
  }
}
.first-slide {
  display: flex;
  height: 100vh;
}
.first-slide__img {
  background-image: url("../media/bg-th.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
}
.first-slide__lead {
  padding: 100px 20px 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  background: #249D6A;
}
@media (min-width: 1280px) {
  .first-slide__lead {
    padding: 7.8125vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .first-slide__lead {
    padding: 11.1111111111vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .first-slide__lead {
    padding: 19.2307692308vw 2.2222222222vw 20px;
  }
}
.first-slide__text {
  flex-grow: 1;
}

@media (max-width: 520px) {
  .first-slide {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
  }
  .first-slide__img {
    width: 100%;
    height: 40%;
  }
  .first-slide__lead {
    padding: 20px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    flex-grow: 1;
  }
}
@media (max-width: 520px) and (min-width: 1280px) {
  .first-slide__lead {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 520px) and (max-width: 900px) {
  .first-slide__lead {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) and (max-width: 520px) {
  .first-slide__lead {
    padding: 3.8461538462vw 2.2222222222vw 20px;
  }
}
.features {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.features__item {
  width: 25%;
  margin: 0 auto;
}
.features__item-inner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50%;
  padding-bottom: 50%;
  object-fit: cover;
  overflow: hidden;
}
.features__item-inner::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(19, 18, 18, 0.6);
}
.features__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  width: 100%;
  height: 100%;
}
.features__title {
  font-size: 14px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  text-align: center;
}

@media (min-width: 1280px) {
  .features__title {
    font-size: 1.09375vw;
  }
}
@media (max-width: 900px) {
  .features__title {
    font-size: 14px;
  }
  .features__item {
    width: 25%;
  }
}
@media (max-width: 520px) {
  .features__item {
    width: 50%;
    min-width: 30.7692307692vw;
  }
  .features__title {
    font-size: 14px;
  }
}
.reviews {
  padding: 20px 20px 20px;
  background: #FFFFFF;
}
@media (min-width: 1280px) {
  .reviews {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .reviews {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .reviews {
    padding: 3.8461538462vw 2.2222222222vw 20px;
  }
}
.reviews__title {
  color: #249D6A;
  padding: 0 0 10px;
}
.reviews__more-item {
  color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
  opacity: 0.4;
  bottom: 0;
  margin: 0;
}
.reviews__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}
.reviews__item {
  background: #FFFFFF;
  display: flex;
  width: 50%;
  margin-bottom: 40px;
}
.reviews__item:nth-child(odd) {
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  padding-right: 20px;
}
.reviews__item:nth-child(even) {
  padding-left: 20px;
  border-right: 2px solid transparent;
}
.reviews__item-avatar {
  margin-right: 20px;
  min-width: 80px;
  height: 80px;
  width: 80px;
  background: #249D6A;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}
.reviews__item-avatar span {
  font-size: 40px;
  color: #FFFFFF;
  position: absolute;
  left: 25%;
  top: 25%;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.reviews__item-inner__name {
  color: #249D6A;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.reviews__item-inner__mark {
  padding: 0;
  margin-top: 0.546875vw;
}
.reviews__item-inner__massage {
  color: #131212;
  opacity: 0.7;
  padding: 0.78125vw 0;
  max-height: 80px;
  overflow: hidden;
}
.reviews__item-inner__more {
  color: #131212;
  opacity: 0.4;
  bottom: 0;
  margin: 0;
}
.reviews__star svg {
  width: 20px;
  height: 20px;
}
.reviews__star .star {
  fill: #FFFFFF;
  stroke: #249D6A;
}
.reviews__star--active .star {
  fill: #249D6A;
  stroke: #249D6A;
}
.reviews_green {
  background: #249D6A;
}
.reviews_green .reviews__title {
  color: #FFFFFF;
}
.reviews_green .reviews__item {
  background: #249D6A;
}
.reviews_green .reviews__item-avatar {
  background: #FFFFFF;
}
.reviews_green .reviews__item-avatar span {
  color: #249D6A;
}
.reviews_green .reviews__item-inner__name {
  color: #FFFFFF;
}
.reviews_green .reviews__item-inner__mark .reviews__star .star {
  fill: #249D6A;
  stroke: #FFFFFF;
}
.reviews_green .reviews__item-inner__mark .reviews__star--active .star {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}
.reviews_green .reviews__item-inner__massage {
  color: #FFFFFF;
  opacity: 0.7;
}
.reviews_green .reviews__item-inner__more {
  color: #FFFFFF;
  opacity: 0.4;
}

@media (min-width: 1280px) {
  .reviews__title {
    color: #249D6A;
    padding: 0 0 0.78125vw;
  }
  .reviews__list {
    padding-top: 3.125vw;
  }
  .reviews__item {
    margin-bottom: 3.125vw;
  }
  .reviews__item:nth-child(odd) {
    border-right: 0.15625vw solid rgba(255, 255, 255, 0.1);
    padding-right: 1.5625vw;
  }
  .reviews__item:nth-child(even) {
    padding-left: 1.5625vw;
    border-right: 0.15625vw solid transparent;
  }
  .reviews__item-inner__name {
    font-size: 1.5625vw;
  }
  .reviews__item-inner__mark {
    margin-top: 0.546875vw;
  }
  .reviews__item-inner__massage {
    padding: 0.78125vw 0;
    max-height: 6.25vw;
    overflow: hidden;
  }
  .reviews__item-avatar {
    margin-right: 1.5625vw;
    min-width: 6.25vw;
    height: 6.25vw;
    width: 6.25vw;
  }
  .reviews__item-avatar span {
    font-size: 3.125vw;
  }
  .reviews__star svg {
    width: 1.5625vw;
    height: 1.5625vw;
  }
}
@media (max-width: 900px) {
  .reviews__title {
    padding: 0 0 2.2222222222vw;
  }
  .reviews__list {
    padding-top: 2.2222222222vw;
  }
  .reviews__item {
    margin-bottom: 4.4444444444vw;
  }
  .reviews__item:nth-child(odd) {
    border-right: 0.2222222222vw solid rgba(255, 255, 255, 0.1);
    padding-right: 2.2222222222vw;
  }
  .reviews__item:nth-child(even) {
    padding-left: 2.2222222222vw;
    border-right: 0.2222222222vw solid transparent;
  }
  .reviews__item-avatar {
    margin-right: 2.2222222222vw;
    min-width: 8.8888888889vw;
    height: 8.8888888889vw;
    width: 8.8888888889vw;
  }
  .reviews__item-avatar span {
    font-size: 4.4444444444vw;
  }
  .reviews__star svg {
    width: 2.2222222222vw;
    height: 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .reviews__title {
    padding: 0 0 3.8461538462vw;
  }
  .reviews__more-item {
    justify-content: flex-start;
  }
  .reviews__list {
    padding-top: 0;
  }
  .reviews__item {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    border-bottom: 0.2222222222vw solid rgba(255, 255, 255, 0.1);
  }
  .reviews__item:nth-child(odd) {
    border-right: none;
    padding-right: 0;
  }
  .reviews__item:nth-child(even) {
    border-right: none;
    padding-left: 0;
  }
  .reviews__item:nth-last-child(1) {
    border-bottom: none;
  }
  .reviews__item-inner__name {
    font-size: 20px;
  }
  .reviews__item-inner__mark {
    margin-top: 2.5vw;
  }
  .reviews__item-inner__massage {
    font-size: 14px;
    margin-top: 2.8846153846vw;
    margin-bottom: 3.8461538462vw;
  }
  .reviews__item-inner__more {
    font-size: 12px;
  }
  .reviews__item-avatar {
    display: none;
  }
  .reviews__star svg {
    width: 3.8461538462vw;
    height: 3.8461538462vw;
  }
}
.contacts {
  display: flex;
  flex-direction: row;
  min-height: 50vh;
}
.contacts__inner {
  padding: 20px 20px 20px;
  width: 37.5vw;
}
@media (min-width: 1280px) {
  .contacts__inner {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .contacts__inner {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .contacts__inner {
    padding: 3.8461538462vw 2.2222222222vw 20px;
  }
}
.contacts__title {
  color: #249D6A;
  padding-bottom: 40px;
}
.contacts__text-item b {
  color: #131212;
}
.contacts__text-item p {
  padding: 0;
  color: rgba(19, 18, 18, 0.7);
}
.contacts__map {
  background: #FFFFFF;
  width: 37.5vw;
  height: inherit;
}

[class*=ymaps-2][class*=-ground-pane] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}

@media (min-width: 1280px) {
  .contacts__title {
    padding-bottom: 3.125vw;
  }
}
@media (max-width: 900px) {
  .contacts__title {
    padding-bottom: 2.2222222222vw;
  }
  .contacts__inner {
    width: 50vw;
  }
  .contacts__map {
    width: 50vw;
  }
}
@media (max-width: 520px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
  .contacts__inner {
    width: 100%;
  }
  .contacts__title {
    color: #249D6A;
    padding-bottom: 3.8461538462vw;
  }
  .contacts__map {
    width: 100%;
    min-height: 40vh;
  }
}

/*# sourceMappingURL=index.css.map */
