@import "../fonts/TTInterfaces/stylesheet.css" all;
@import "../fonts/Akrobat/stylesheet.css" all;
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  outline: none;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a, b, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 60px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 800;
  line-height: 90%;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}

h3 {
  font-size: 20px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

p, time {
  font-size: 14px;
  padding: 20px 0;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #FFFFFF;
}

b {
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  color: #131212;
}

span {
  font-size: 16px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

a {
  font-size: 14px;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: underline;
  color: #249D6A;
}

input {
  font-size: 16px;
  padding: 20px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  border: none;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: white;
}
input:last-of-type {
  margin-bottom: 3.125vw;
}
input:first-of-type {
  margin-top: -0.78125vw;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 1280px) {
  h2 {
    font-size: 4.6875vw;
  }

  h3 {
    font-size: 1.5625vw;
  }

  p, time {
    font-size: 1.09375vw;
    padding: 1.5625vw 0;
  }

  b {
    font-size: 1.09375vw;
  }

  span {
    font-size: 1.25vw;
  }

  a {
    font-size: 1.09375vw;
  }

  input {
    border-bottom: 0.15625vw solid rgba(255, 255, 255, 0.1);
    padding: 1.5625vw 0;
    font-size: 1.25vw;
  }
}
@media (max-width: 900px) {
  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 20px;
  }

  p, time {
    font-size: 14px;
    padding: 2.2222222222vw 0;
  }

  b {
    font-size: 14px;
  }

  span {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  input {
    border-bottom: 0.2222222222vw solid rgba(255, 255, 255, 0.1);
    padding: 2.2222222222vw 0;
    font-size: 16px;
  }

  hr {
    background: #FFFFFF;
    border: 0.1111111111vw solid #FFFFFF;
  }
}
@media (max-width: 520px) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }

  p, time {
    font-size: 14px;
    padding: 3.8461538462vw 0;
  }

  b {
    font-size: 14px;
  }

  span {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  input {
    border-bottom: 0.3846153846vw solid rgba(255, 255, 255, 0.1);
    padding: 3.8461538462vw 0;
    font-size: 16px;
  }

  hr {
    background: #FFFFFF;
    border: 0.1923076923vw solid #FFFFFF;
  }
}
.numbers {
  padding: 20px 20px 20px;
  width: 37.5vw;
  position: fixed;
  display: flex;
  right: 0;
  top: 0;
  z-index: 10;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
@media (min-width: 1280px) {
  .numbers {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .numbers {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .numbers {
    padding: 3.8461538462vw 2.2222222222vw 2.2222222222vw;
  }
}
.numbers_green {
  color: #249D6A;
  border-color: #249D6A;
}
.numbers__block {
  border: 2px solid;
  padding: 22px 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25vw;
  line-height: 100%;
  text-decoration-line: none;
  color: inherit;
  border-color: inherit;
  border: 2px solid;
}
.numbers__block:last-of-type {
  border-left: none;
}

@media (min-width: 1280px) {
  .numbers__block {
    border: 0.15625vw solid;
    padding: 1.71875vw 0;
    font-size: 1.25vw;
  }
}
@media (max-width: 900px) {
  .numbers {
    width: 50vw;
  }
  .numbers__block {
    padding: 2.4444444444vw 0;
    font-size: 14px;
  }
}
@media (max-width: 520px) {
  .numbers {
    display: none;
  }
}
.button {
  font-size: 16px;
  padding: 22px;
  cursor: pointer;
  border: none;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  transition: 0.1s;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.button:hover {
  background: #249D6A;
  color: #FFFFFF;
}
.button_green {
  background: #249D6A;
  color: #FFFFFF;
}
.button_green:hover {
  background: #FFFFFF;
  color: #249D6A;
}
.button_menu {
  display: none;
  padding: 22px;
  border: 2px solid #FFFFFF;
  font-size: 14px;
  width: 100%;
  background: transparent;
  color: #FFFFFF;
}
.button_menu:hover {
  background: #FFFFFF;
  color: #131212;
}

@media (min-width: 1280px) {
  .button {
    font-size: 1.25vw;
    padding: 1.71875vw;
  }
}
@media (max-width: 900px) {
  .button {
    padding: 2.4444444444vw 0;
    font-size: 14px;
  }
  .button_white-border {
    font-size: 14px;
  }
  .button_green-border {
    font-size: 14px;
  }
  .button_menu {
    display: block;
    padding: 2.4444444444vw;
    font-size: 14px;
  }
}
@media (max-width: 520px) {
  .button {
    padding: 4.2307692308vw 0;
    font-size: 14px;
  }
  .button_white-border {
    font-size: 14px;
  }
  .button_green-border {
    font-size: 14px;
  }
  .button_menu {
    padding: 4.2307692308vw;
    font-size: 14px;
  }
}
main {
  margin-left: 25%;
  width: 75%;
  position: relative;
}

.menu {
  padding: 1.5625vw;
  background: #F4F4F4;
  width: 25%;
  height: 100vh;
  position: fixed;
  display: flex;
  z-index: 10;
  flex-direction: column;
}
.menu__link {
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  text-decoration-line: none;
  margin: 0.9375vw 0;
  transition: 0.15s color;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #131212;
}
.menu__link:hover {
  color: #249D6A;
}
.menu__line {
  background-color: rgba(19, 18, 18, 0.1);
  height: 2px;
  border: none;
  margin: 1.5625vw 0;
}
.menu__line:first-of-type {
  margin-bottom: 0.625vw;
}
.menu__logo {
  position: relative;
  width: 9.453125vw;
  left: 50%;
  margin-left: -4.6875vw;
}
.menu__address {
  font-family: TT Interfaces;
  text-transform: unset;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  margin: 2.34375vw 0;
  color: rgba(19, 18, 18, 0.7);
}
.menu__drive {
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-decoration: underline;
  margin-bottom: 3.125vw;
  color: #249D6A;
}
.menu__drive:hover {
  text-decoration: none;
}

.lang {
  cursor: pointer;
  border: 2px solid rgba(19, 18, 18, 0.7);
  border-radius: 50%;
  padding: 3px;
  transition: 0.15s border;
  margin-right: 10px;
  width: 30px;
}

.lang:hover {
  border: 2px solid #249D6A;
}

@media (min-width: 1280px) {
  .lang {
    border: 0.15625vw solid rgba(19, 18, 18, 0.7);
    padding: 0.234375vw;
    margin-right: 0.78125vw;
    width: 2.34375vw;
  }

  .lang:hover {
    border: 0.15625vw solid #249D6A;
  }
}
@media (min-width: 1280px) {
  .menu__link {
    font-size: 1.25vw;
  }
  .menu__line {
    height: 0.15625vw;
  }
  .menu__address {
    font-size: 0.9375vw;
  }
  .menu__drive {
    font-size: 0.9375vw;
  }
}
@media (max-width: 900px) {
  main {
    position: static;
    width: 100vw;
    margin-left: 0;
  }

  .menu {
    display: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
  }
  .menu--small {
    padding: 20px 20px 20px;
    position: fixed;
    z-index: 10;
    width: 50%;
    top: 0;
    left: 0;
  }
}
@media (max-width: 900px) and (min-width: 1280px) {
  .menu--small {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  .menu--small {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 900px) and (max-width: 520px) {
  .menu--small {
    padding: 3.8461538462vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .menu--small {
    width: 100%;
  }
}
.article-news {
  display: flex;
  flex-direction: row;
}
.article-news__inner {
  width: 37.5vw;
  padding: 7.8125vw 1.5625vw 0;
}
.article-news__inner-title {
  color: #249D6A;
}
.article-news__inner-text p {
  color: rgba(19, 18, 18, 0.7);
}
.article-news__img {
  background: #249D6A;
  width: 37.5vw;
  position: fixed;
  right: 0;
  top: 0;
}
.article-news__img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 640px) {
  .article-news__inner {
    height: 100%;
    width: 62.5vw;
    padding: 15.625vw 3.125vw 0;
  }

  .button_menu {
    border-color: #249D6A;
    color: #249D6A;
  }
}
@media (max-width: 420px) {
  .article-news {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    height: 100%;
  }
  .article-news__inner {
    height: 100%;
    width: 100vw;
    padding: 6.25vw 6.25vw 0;
  }
  .article-news__inner-title {
    font-size: 12.5vw;
  }
  .article-news__inner-text {
    font-size: 3.75vw;
    line-height: 160%;
  }
  .article-news__img {
    background: #249D6A;
    position: static;
    width: 100vw;
    min-height: 220px;
    height: 38vh;
  }
  .article-news__img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
  }

  .numbers_green {
    color: #FFFFFF;
    border-color: #FFFFFF;
  }

  .button_menu {
    border-color: #FFFFFF;
    color: #FFFFFF;
  }
}

/*# sourceMappingURL=news-card.css.map */
