/* Reset
  ========================================================================== */
@import "../fonts/TTInterfaces/stylesheet.css" all;
@import "../fonts/Akrobat/stylesheet.css" all;
@import "../fonts/TTInterfaces/stylesheet.css" all;
@import "../fonts/Akrobat/stylesheet.css" all;
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
  background: none;
  padding: 0;
  margin: 0;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

h2 {
  font-size: 60px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 800;
  line-height: 90%;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}

h3 {
  font-size: 20px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

p, time {
  font-size: 14px;
  padding: 20px 0;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #FFFFFF;
}

b {
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  color: #131212;
}

span {
  font-size: 16px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

a {
  font-size: 14px;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: underline;
  color: #249D6A;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

@media (min-width: 1280px) {
  h2 {
    font-size: 4.6875vw;
  }

  h3 {
    font-size: 1.5625vw;
  }

  p, time {
    font-size: 1.09375vw;
    padding: 1.5625vw 0;
  }

  b {
    font-size: 1.09375vw;
  }

  span {
    font-size: 1.25vw;
  }

  a {
    font-size: 1.09375vw;
  }

  input {
    border-bottom: 0.15625vw solid rgba(255, 255, 255, 0.1);
    padding: 1.5625vw 0;
    font-size: 1.25vw;
  }
}
@media (max-width: 900px) {
  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 20px;
  }

  p, time {
    font-size: 14px;
    padding: 2.2222222222vw 0;
  }

  b {
    font-size: 14px;
  }

  span {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  input {
    border-bottom: 0.2222222222vw solid rgba(255, 255, 255, 0.1);
    padding: 2.2222222222vw 0;
    font-size: 16px;
  }

  hr {
    background: #FFFFFF;
    border: 0.1111111111vw solid #FFFFFF;
  }
}
@media (max-width: 520px) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }

  p, time {
    font-size: 14px;
    padding: 3.8461538462vw 0;
  }

  b {
    font-size: 14px;
  }

  span {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  input {
    border-bottom: 0.3846153846vw solid rgba(255, 255, 255, 0.1);
    padding: 3.8461538462vw 0;
    font-size: 16px;
  }

  hr {
    background: #FFFFFF;
    border: 0.1923076923vw solid #FFFFFF;
  }
}
.numbers {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  color: #FFFFFF;
  display: flex;
  padding: 20px 20px 20px;
  width: 37.5vw;
}
@media (min-width: 1280px) {
  .numbers {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .numbers {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .numbers {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
.numbers_menu {
  display: none;
  position: static;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  color: #249D6A;
  border-color: #249D6A;
}
.numbers__block {
  border: 2px solid;
  padding: 22px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-decoration-line: none;
  color: inherit;
  border-color: inherit;
  border: 2px solid inherit;
}
.numbers__block__wrapper {
  overflow: hidden;
  height: 1em;
}
.numbers__block:hover {
  background-color: #249D6A;
  color: #FFFFFF;
}
.numbers__block:hover .button__inner {
  transition: 0.3s;
  transform: translateY(-2em);
}
.numbers__block--green {
  background: transparent;
  border: 2px solid #249D6A;
  color: #249D6A;
}
.numbers__block--green:hover {
  background: #FFFFFF;
  color: #249D6A;
}
.numbers__block__inner {
  margin-top: -0.1em;
}
.numbers__block:last-of-type {
  border-left: none;
}
.numbers_toggle {
  display: none;
}

@media (min-width: 1280px) {
  .numbers__block {
    border: 0.15625vw solid;
    padding: 1.71875vw 0;
    font-size: 1.25vw;
  }
  .numbers_menu {
    position: static;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .numbers_menu {
    display: none;
  }
}
@media (max-width: 900px) {
  .numbers {
    width: 50vw;
  }
  .numbers__block {
    padding: 2.4444444444vw 0;
    font-size: 14px;
  }
  .numbers_menu {
    display: flex;
    position: static;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
@media (max-width: 520px) {
  .numbers {
    display: none;
  }
  .numbers_menu {
    display: flex;
    flex-direction: column;
    position: static;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .numbers__block {
    font-size: 16px;
    border: 2px solid;
    padding: 4.2307692308vw 0;
    width: 100%;
    border: 2px solid;
  }
  .numbers__block:last-of-type {
    border-left: 2px solid;
    border-top: none;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 22px;
  cursor: pointer;
  border: none;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  transition: 0.1s;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.button__wrapper {
  overflow: hidden;
  height: 1em;
}
.button:hover {
  background-color: #249D6A;
  color: #FFFFFF;
}
.button:hover .button__inner {
  transition: 0.3s;
  transform: translateY(-2em);
}
.button--green {
  background: #249D6A;
  border: 2px solid #249D6A;
  color: #FFFFFF;
}
.button--green:hover {
  background: #FFFFFF;
  color: #249D6A;
}
.button--white {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #131212;
}
.button--white:hover {
  background: #249D6A;
  color: #FFFFFF;
}
.button__inner {
  margin-top: -0.1em;
}
.button_menu {
  display: none;
  padding: 22px;
  border: 2px solid #FFFFFF;
  font-size: 14px;
  width: 100%;
  background: transparent;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}
.button_close {
  display: none;
  background: url("../media/btn_close.svg") no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.button_close-active {
  display: flex;
}
.button_menu:hover {
  background: #FFFFFF;
  color: #131212;
}
.button_calc {
  width: 50%;
}
.button--hunt-slider {
  width: 100%;
}
.button--opacity {
  opacity: 0.4;
}

@media (min-width: 1280px) {
  .button {
    font-size: 1.25vw;
    padding: 1.71875vw;
  }
}
@media (max-width: 900px) {
  .button {
    padding: 2.4444444444vw 0;
    font-size: 14px;
  }
  .button_white-border {
    font-size: 14px;
  }
  .button_green-border {
    font-size: 14px;
  }
  .button_menu {
    display: block;
    padding: 2.4444444444vw;
    font-size: 14px;
  }
}
@media (max-width: 520px) {
  .button {
    padding: 4.2307692308vw 0;
    font-size: 14px;
  }
  .button_white-border {
    font-size: 14px;
  }
  .button_green-border {
    font-size: 14px;
  }
  .button_menu {
    padding: 4.2307692308vw;
    font-size: 14px;
  }
}
main {
  margin-left: 25%;
  width: 75%;
  position: relative;
}
main-fixed {
  overflow: hidden;
}

.menu {
  padding: 20px;
  background: #F4F4F4;
  width: 25%;
  height: 100%;
  position: fixed;
  display: flex;
  z-index: 20;
  flex-direction: column;
}
.menu__link {
  font-size: 16px;
  padding: 6px 0;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-decoration-line: none;
  text-transform: uppercase;
  color: #131212;
  transition: 0.15s color;
  display: flex;
  align-items: center;
}
.menu__link:hover {
  color: #249D6A;
}
.menu__line {
  background-color: rgba(19, 18, 18, 0.1);
  height: 2px;
  border: none;
  margin: 14px 0;
}
.menu__logo-box {
  margin: 0 auto;
  transition: transform 0.3s;
}
.menu__logo-box:hover {
  transform: scale(1.1);
}
.menu__logo {
  width: 121px;
  max-width: 100%;
}
.menu__logo-container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
}
.menu__address {
  font-size: 12px;
  margin: 30px 0;
  font-family: TT Interfaces;
  text-transform: unset;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: rgba(19, 18, 18, 0.4);
  display: block;
}
.menu__drive {
  margin-bottom: 40px;
  display: block;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-decoration: underline;
  color: #249D6A;
}
.menu__drive:hover {
  text-decoration: none;
}
.menu__bottom-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.lang {
  cursor: pointer;
  border: 2px solid rgba(19, 18, 18, 0.1);
  border-radius: 50%;
  padding: 3px;
  transition: 0.15s border;
  margin-top: 17px;
  margin-right: 10px;
  width: 30px;
}
.lang--active {
  border: 2px solid #249D6A;
}

.lang:hover {
  border: 2px solid #249D6A;
}

@media (min-width: 1280px) {
  .lang {
    border: 0.15625vw solid rgba(19, 18, 18, 0.1);
    padding: 0.234375vw;
    margin-top: 1.328125vw;
    margin-right: 0.78125vw;
    width: 2.34375vw;
  }
  .lang--active {
    border: 0.15625vw solid #249D6A;
  }

  .lang:hover {
    border: 0.15625vw solid #249D6A;
  }
}
.popup {
  z-index: 20;
  position: fixed;
  right: 0;
  top: -100vh;
  width: 75%;
  height: 100%;
  overflow: hidden;
  transition: top 0.5s;
}
.popup__body {
  display: flex;
  padding: 20px 20px 20px;
  flex-direction: column;
  background: #249D6A;
  min-height: 100%;
}
@media (min-width: 1280px) {
  .popup__body {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .popup__body {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .popup__body {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
.popup__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 20px;
}
.popup__close {
  text-align: right;
  background-repeat: no-repeat;
  cursor: pointer;
}
.popup__close a {
  content: " ";
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
  vertical-align: center;
}
.popup__close img:hover {
  transform: rotate(90deg);
  transition: transform 0.5s;
}
.popup__success {
  display: none;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}
.popup__active {
  top: 0;
}

.form__input {
  font-size: 16px;
  padding: 20px 0;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  appearance: none;
  color: white;
}
.form__input--time {
  color: rgba(255, 255, 255, 0.4);
}
.form__input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.form__option {
  padding: 0;
}
.form__option--opacity {
  color: rgba(255, 255, 255, 0.4);
}
.form__btn {
  margin-top: 40px;
}
.form__input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__input-wrapper__error {
  display: none;
  font-family: TT Interfaces;
  text-transform: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #FF2B2B;
  padding: 4px 0;
}
.form__input-wrapper__error--show {
  display: block;
}

@media (min-width: 1280px) {
  .popup {
    height: 100%;
    overflow: hidden;
  }
  .popup__success {
    font-size: 1.09375vw;
  }
}
@media (max-width: 900px) {
  .popup {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  .popup__form {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .popup {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .menu {
    padding: 1.5625vw;
    width: 25%;
  }
  .menu__link {
    font-size: 1.25vw;
    padding: 0.46875vw 0;
  }
  .menu__line {
    height: 0.15625vw;
    margin: 1.09375vw 0;
  }
  .menu__logo {
    width: 9.453125vw;
  }
  .menu__address {
    font-size: 0.9375vw;
    margin: 2.34375vw 0;
  }
  .menu__drive {
    font-size: 0.9375vw;
    margin-bottom: 3.125vw;
  }
}
@media (max-width: 900px) {
  main {
    position: static;
    width: 100%;
    margin-left: 0;
  }
  main-fixed {
    overflow: hidden;
  }

  .menu {
    position: fixed;
    top: -100vh;
    height: 100%;
    overflow: hidden;
    padding: 2.2222222222vw;
    width: 100%;
    transition: top 0.3s;
  }
  .menu__link {
    font-size: 16px;
    padding: 0.6666666667vw 0;
  }
  .menu__line {
    height: 0.2222222222vw;
    margin: 1.5555555556vw 0;
  }
  .menu__logo-box {
    margin: 0;
  }
  .menu__logo {
    width: 121px;
  }
  .menu__address {
    font-size: 12px;
    margin: 3.3333333333vw 0;
  }
  .menu__drive {
    font-size: 12px;
    margin-bottom: 4.4444444444vw;
  }
  .menu--small {
    padding: 20px 20px 20px;
    position: fixed;
    z-index: 10;
    width: 50%;
    top: 0;
    left: 0;
  }
}
@media (max-width: 900px) and (min-width: 1280px) {
  .menu--small {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  .menu--small {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 900px) and (max-width: 520px) {
  .menu--small {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
@media (max-width: 900px) {
  .menu .button_green {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .menu_show {
    padding: 20px 20px 20px;
    z-index: 20;
    top: 0;
    height: 100%;
    overflow: hidden;
  }
}
@media (max-width: 900px) and (min-width: 1280px) {
  .menu_show {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  .menu_show {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 900px) and (max-width: 520px) {
  .menu_show {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
@media (max-width: 520px) {
  .menu {
    padding: 3.8461538462vw;
    transform: translatey(-100vh);
    width: 25%;
    top: -100vh;
    height: 100%;
    overflow: hidden;
  }
  .menu_show {
    transform: translatey(100vh);
  }
  .menu__link {
    font-size: 16px;
    padding: 1.1538461538vw 0;
  }
  .menu__line {
    height: 0.3846153846vw;
    margin: 2.6923076923vw 0;
  }
  .menu__logo-box {
    margin: 0;
  }
  .menu__logo {
    width: 121px;
  }
  .menu__address {
    font-size: 12px;
    margin: 5.7692307692vw 0;
  }
  .menu__drive {
    font-size: 12px;
    margin-bottom: 7.6923076923vw;
  }
  .menu--small {
    width: 100%;
  }
  .menu .button_green {
    width: 100%;
  }

  .menu_show {
    padding: 20px 20px 20px;
    z-index: 20;
    display: block;
    width: 100%;
    top: 0;
    height: 100%;
    overflow: hidden;
  }
}
@media (max-width: 520px) and (min-width: 1280px) {
  .menu_show {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 520px) and (max-width: 900px) {
  .menu_show {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) and (max-width: 520px) {
  .menu_show {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
.datepicker {
  display: none;
}
.datepicker.active {
  display: block;
}

.datepicker-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 4px;
}
.datepicker-dropdown.datepicker-orient-top {
  padding-top: 0;
  padding-bottom: 4px;
}

.datepicker-picker {
  display: inline-block;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.datepicker-dropdown .datepicker-picker {
  box-shadow: 0 2px 3px rgba(19, 18, 18, 0.1), 0 0 0 1px rgba(19, 18, 18, 0.1);
}
.datepicker-picker span {
  display: block;
  flex: 1;
  border: 0;
  border-radius: 4px;
  cursor: default;
  text-align: center;
  -webkit-touch-callout: none;
  user-select: none;
}

.datepicker-main {
  padding: 2px;
}

.datepicker-footer {
  box-shadow: inset 0 1px 1px rgba(19, 18, 18, 0.1);
  background-color: #FFFFFF;
}

.datepicker-grid, .datepicker-view .days-of-week, .datepicker-view, .datepicker-controls {
  display: flex;
}

.datepicker-grid {
  flex-wrap: wrap;
}

.datepicker-view .days .datepicker-cell, .datepicker-view .dow {
  flex-basis: 14.2857142857%;
}

.datepicker-view.datepicker-grid .datepicker-cell {
  flex-basis: 25%;
}

.datepicker-cell, .datepicker-view .week {
  height: 2.25rem;
  line-height: 2.25rem;
}

.datepicker-title {
  font-family: Akrobat;
  font-style: normal;
  box-shadow: inset 0 -1px 1px rgba(19, 18, 18, 0.1);
  background-color: #FFFFFF;
  padding: 0.375rem 0.75rem;
  text-align: center;
  font-weight: 700;
}

.datepicker-header .datepicker-controls {
  padding: 2px 2px 0;
}
.datepicker-controls .button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-shadow: none;
  background-color: #FFFFFF;
  cursor: pointer;
  padding: calc(0.375em - 1px) 0.75em;
  height: 2.25em;
  vertical-align: top;
  text-align: center;
  line-height: 1.5;
  white-space: nowrap;
  color: #131212;
  font-size: 1rem;
}
.datepicker-controls .button:focus, .datepicker-controls .button:active {
  outline: none;
}
.datepicker-controls .button:hover {
  border-color: #bfbfbf;
  color: #131212;
}
.datepicker-controls .button:focus {
  border-color: #249D6A;
  color: #131212;
}
.datepicker-controls .button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(36, 157, 106, 0.25);
}
.datepicker-controls .button:active {
  border-color: #545050;
  color: #131212;
}
.datepicker-controls .button[disabled] {
  cursor: not-allowed;
}
.datepicker-header .datepicker-controls .button {
  border-color: transparent;
  font-weight: bold;
}
.datepicker-header .datepicker-controls .button:hover {
  background-color: #f9f9f9;
}
.datepicker-header .datepicker-controls .button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}
.datepicker-header .datepicker-controls .button:active {
  background-color: #f2f2f2;
}
.datepicker-header .datepicker-controls .button[disabled] {
  box-shadow: none;
}
.datepicker-footer .datepicker-controls .button {
  margin: calc(0.375rem - 1px) 0.375rem;
  border-radius: 2px;
  width: 100%;
  font-size: 0.75rem;
}
.datepicker-controls .view-switch {
  flex: auto;
}
.datepicker-controls .prev-btn,
.datepicker-controls .next-btn {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
  width: 2.25rem;
}
.datepicker-controls .prev-btn.disabled,
.datepicker-controls .next-btn.disabled {
  visibility: hidden;
}

.datepicker-view .dow {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: #131212;
}
.datepicker-view .dow--output {
  color: red;
}
.datepicker-view .week {
  width: 2.25rem;
  color: #bfbfbf;
  font-size: 0.75rem;
}
@media (max-width: 22.5rem) {
  .datepicker-view .week {
    width: 1.96875rem;
  }
}

.datepicker-grid {
  width: 15.75rem;
}
@media (max-width: 22.5rem) {
  .calendar-weeks + .days .datepicker-grid {
    width: 13.78125rem;
  }
}

.datepicker-cell {
  color: #131212;
}
.datepicker-cell:not(.disabled):hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
.datepicker-cell.focused:not(.selected) {
  background-color: #249D6A;
  color: #FFFFFF;
}
.datepicker-cell.selected, .datepicker-cell.selected:hover {
  background-color: #249D6A;
  color: #fff;
  font-weight: 600;
}
.datepicker-cell.disabled {
  color: #e6e6e6;
}
.datepicker-cell.prev:not(.disabled), .datepicker-cell.next:not(.disabled) {
  color: #7a7a7a;
}
.datepicker-cell.prev.selected, .datepicker-cell.next.selected {
  color: #e6e6e6;
}
.datepicker-cell.highlighted:not(.selected):not(.range):not(.today) {
  border-radius: 0;
  background-color: #FFFFFF;
}
.datepicker-cell.highlighted:not(.selected):not(.range):not(.today):not(.disabled):hover {
  background-color: #f9f9f9;
}
.datepicker-cell.highlighted:not(.selected):not(.range):not(.today).focused {
  background-color: #249D6A;
  color: #FFFFFF;
}
.datepicker-cell.today:not(.selected) {
  background-color: #00d1b2;
}
.datepicker-cell.today:not(.selected):not(.disabled) {
  color: #fff;
}
.datepicker-cell.today.focused:not(.selected) {
  background-color: #00c4a7;
}
.datepicker-cell.range-end:not(.selected), .datepicker-cell.range-start:not(.selected) {
  background-color: #bfbfbf;
  color: #fff;
}
.datepicker-cell.range-end.focused:not(.selected), .datepicker-cell.range-start.focused:not(.selected) {
  background-color: #b9b9b9;
}
.datepicker-cell.range-start {
  border-radius: 4px 0 0 4px;
}
.datepicker-cell.range-end {
  border-radius: 0 4px 4px 0;
}
.datepicker-cell.range {
  border-radius: 0;
  background-color: #e6e6e6;
}
.datepicker-cell.range:not(.disabled):not(.focused):not(.today):hover {
  background-color: #dfdfdf;
}
.datepicker-cell.range.disabled {
  color: #cccccc;
}
.datepicker-cell.range.focused {
  background-color: #d9d9d9;
}
.datepicker-view.datepicker-grid .datepicker-cell {
  height: 4.5rem;
  line-height: 4.5rem;
}

.datepicker-input.in-edit {
  border-color: #1f885c;
}
.datepicker-input.in-edit:focus, .datepicker-input.in-edit:active {
  box-shadow: 0 0 0.25em 0.25em rgba(31, 136, 92, 0.2);
}

html {
  scroll-behavior: smooth;
}

.article-news {
  display: flex;
  flex-direction: row;
}
.article-news__inner {
  width: 37.5vw;
  padding: 7.8125vw 1.5625vw 0;
}
.article-news__inner-title {
  color: #249D6A;
}
.article-news__inner-text p {
  color: rgba(19, 18, 18, 0.7);
}
.article-news__img {
  background: #249D6A;
  width: 37.5vw;
  position: fixed;
  right: 0;
  top: 0;
}
.article-news__img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Reset
  ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
  background: none;
  padding: 0;
  margin: 0;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

h2 {
  font-size: 60px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 800;
  line-height: 90%;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}

h3 {
  font-size: 20px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

p, time {
  font-size: 14px;
  padding: 20px 0;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #FFFFFF;
}

b {
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  color: #131212;
}

span {
  font-size: 16px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

a {
  font-size: 14px;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: underline;
  color: #249D6A;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

@media (min-width: 1280px) {
  h2 {
    font-size: 4.6875vw;
  }

  h3 {
    font-size: 1.5625vw;
  }

  p, time {
    font-size: 1.09375vw;
    padding: 1.5625vw 0;
  }

  b {
    font-size: 1.09375vw;
  }

  span {
    font-size: 1.25vw;
  }

  a {
    font-size: 1.09375vw;
  }

  input {
    border-bottom: 0.15625vw solid rgba(255, 255, 255, 0.1);
    padding: 1.5625vw 0;
    font-size: 1.25vw;
  }
}
@media (max-width: 900px) {
  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 20px;
  }

  p, time {
    font-size: 14px;
    padding: 2.2222222222vw 0;
  }

  b {
    font-size: 14px;
  }

  span {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  input {
    border-bottom: 0.2222222222vw solid rgba(255, 255, 255, 0.1);
    padding: 2.2222222222vw 0;
    font-size: 16px;
  }

  hr {
    background: #FFFFFF;
    border: 0.1111111111vw solid #FFFFFF;
  }
}
@media (max-width: 520px) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }

  p, time {
    font-size: 14px;
    padding: 3.8461538462vw 0;
  }

  b {
    font-size: 14px;
  }

  span {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  input {
    border-bottom: 0.3846153846vw solid rgba(255, 255, 255, 0.1);
    padding: 3.8461538462vw 0;
    font-size: 16px;
  }

  hr {
    background: #FFFFFF;
    border: 0.1923076923vw solid #FFFFFF;
  }
}
.numbers {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  color: #FFFFFF;
  display: flex;
  padding: 20px 20px 20px;
  width: 37.5vw;
}
@media (min-width: 1280px) {
  .numbers {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .numbers {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .numbers {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
.numbers_menu {
  display: none;
  position: static;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  color: #249D6A;
  border-color: #249D6A;
}
.numbers__block {
  border: 2px solid;
  padding: 22px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-decoration-line: none;
  color: inherit;
  border-color: inherit;
  border: 2px solid inherit;
}
.numbers__block__wrapper {
  overflow: hidden;
  height: 1em;
}
.numbers__block:hover {
  background-color: #249D6A;
  color: #FFFFFF;
}
.numbers__block:hover .button__inner {
  transition: 0.3s;
  transform: translateY(-2em);
}
.numbers__block--green {
  background: transparent;
  border: 2px solid #249D6A;
  color: #249D6A;
}
.numbers__block--green:hover {
  background: #FFFFFF;
  color: #249D6A;
}
.numbers__block__inner {
  margin-top: -0.1em;
}
.numbers__block:last-of-type {
  border-left: none;
}
.numbers_toggle {
  display: none;
}

@media (min-width: 1280px) {
  .numbers__block {
    border: 0.15625vw solid;
    padding: 1.71875vw 0;
    font-size: 1.25vw;
  }
  .numbers_menu {
    position: static;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .numbers_menu {
    display: none;
  }
}
@media (max-width: 900px) {
  .numbers {
    width: 50vw;
  }
  .numbers__block {
    padding: 2.4444444444vw 0;
    font-size: 14px;
  }
  .numbers_menu {
    display: flex;
    position: static;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
@media (max-width: 520px) {
  .numbers {
    display: none;
  }
  .numbers_menu {
    display: flex;
    flex-direction: column;
    position: static;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .numbers__block {
    font-size: 16px;
    border: 2px solid;
    padding: 4.2307692308vw 0;
    width: 100%;
    border: 2px solid;
  }
  .numbers__block:last-of-type {
    border-left: 2px solid;
    border-top: none;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 22px;
  cursor: pointer;
  border: none;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  transition: 0.1s;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.button__wrapper {
  overflow: hidden;
  height: 1em;
}
.button:hover {
  background-color: #249D6A;
  color: #FFFFFF;
}
.button:hover .button__inner {
  transition: 0.3s;
  transform: translateY(-2em);
}
.button--green {
  background: #249D6A;
  border: 2px solid #249D6A;
  color: #FFFFFF;
}
.button--green:hover {
  background: #FFFFFF;
  color: #249D6A;
}
.button--white {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #131212;
}
.button--white:hover {
  background: #249D6A;
  color: #FFFFFF;
}
.button__inner {
  margin-top: -0.1em;
}
.button_menu {
  display: none;
  padding: 22px;
  border: 2px solid #FFFFFF;
  font-size: 14px;
  width: 100%;
  background: transparent;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}
.button_close {
  display: none;
  background: url("../media/btn_close.svg") no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.button_close-active {
  display: flex;
}
.button_menu:hover {
  background: #FFFFFF;
  color: #131212;
}
.button_calc {
  width: 50%;
}
.button--hunt-slider {
  width: 100%;
}
.button--opacity {
  opacity: 0.4;
}

@media (min-width: 1280px) {
  .button {
    font-size: 1.25vw;
    padding: 1.71875vw;
  }
}
@media (max-width: 900px) {
  .button {
    padding: 2.4444444444vw 0;
    font-size: 14px;
  }
  .button_white-border {
    font-size: 14px;
  }
  .button_green-border {
    font-size: 14px;
  }
  .button_menu {
    display: block;
    padding: 2.4444444444vw;
    font-size: 14px;
  }
}
@media (max-width: 520px) {
  .button {
    padding: 4.2307692308vw 0;
    font-size: 14px;
  }
  .button_white-border {
    font-size: 14px;
  }
  .button_green-border {
    font-size: 14px;
  }
  .button_menu {
    padding: 4.2307692308vw;
    font-size: 14px;
  }
}
main {
  margin-left: 25%;
  width: 75%;
  position: relative;
}
main-fixed {
  overflow: hidden;
}

.menu {
  padding: 20px;
  background: #F4F4F4;
  width: 25%;
  height: 100%;
  position: fixed;
  display: flex;
  z-index: 20;
  flex-direction: column;
}
.menu__link {
  font-size: 16px;
  padding: 6px 0;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-decoration-line: none;
  text-transform: uppercase;
  color: #131212;
  transition: 0.15s color;
  display: flex;
  align-items: center;
}
.menu__link:hover {
  color: #249D6A;
}
.menu__line {
  background-color: rgba(19, 18, 18, 0.1);
  height: 2px;
  border: none;
  margin: 14px 0;
}
.menu__logo-box {
  margin: 0 auto;
  transition: transform 0.3s;
}
.menu__logo-box:hover {
  transform: scale(1.1);
}
.menu__logo {
  width: 121px;
  max-width: 100%;
}
.menu__logo-container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
}
.menu__address {
  font-size: 12px;
  margin: 30px 0;
  font-family: TT Interfaces;
  text-transform: unset;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: rgba(19, 18, 18, 0.4);
  display: block;
}
.menu__drive {
  margin-bottom: 40px;
  display: block;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-decoration: underline;
  color: #249D6A;
}
.menu__drive:hover {
  text-decoration: none;
}
.menu__bottom-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.lang {
  cursor: pointer;
  border: 2px solid rgba(19, 18, 18, 0.1);
  border-radius: 50%;
  padding: 3px;
  transition: 0.15s border;
  margin-top: 17px;
  margin-right: 10px;
  width: 30px;
}
.lang--active {
  border: 2px solid #249D6A;
}

.lang:hover {
  border: 2px solid #249D6A;
}

@media (min-width: 1280px) {
  .lang {
    border: 0.15625vw solid rgba(19, 18, 18, 0.1);
    padding: 0.234375vw;
    margin-top: 1.328125vw;
    margin-right: 0.78125vw;
    width: 2.34375vw;
  }
  .lang--active {
    border: 0.15625vw solid #249D6A;
  }

  .lang:hover {
    border: 0.15625vw solid #249D6A;
  }
}
.popup {
  z-index: 20;
  position: fixed;
  right: 0;
  top: -100vh;
  width: 75%;
  height: 100%;
  overflow: hidden;
  transition: top 0.5s;
}
.popup__body {
  display: flex;
  padding: 20px 20px 20px;
  flex-direction: column;
  background: #249D6A;
  min-height: 100%;
}
@media (min-width: 1280px) {
  .popup__body {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .popup__body {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .popup__body {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
.popup__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 20px;
}
.popup__close {
  text-align: right;
  background-repeat: no-repeat;
  cursor: pointer;
}
.popup__close a {
  content: " ";
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
  vertical-align: center;
}
.popup__close img:hover {
  transform: rotate(90deg);
  transition: transform 0.5s;
}
.popup__success {
  display: none;
  font-family: TT Interfaces;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}
.popup__active {
  top: 0;
}

.form__input {
  font-size: 16px;
  padding: 20px 0;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  appearance: none;
  color: white;
}
.form__input--time {
  color: rgba(255, 255, 255, 0.4);
}
.form__input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.form__option {
  padding: 0;
}
.form__option--opacity {
  color: rgba(255, 255, 255, 0.4);
}
.form__btn {
  margin-top: 40px;
}
.form__input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__input-wrapper__error {
  display: none;
  font-family: TT Interfaces;
  text-transform: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #FF2B2B;
  padding: 4px 0;
}
.form__input-wrapper__error--show {
  display: block;
}

@media (min-width: 1280px) {
  .popup {
    height: 100%;
    overflow: hidden;
  }
  .popup__success {
    font-size: 1.09375vw;
  }
}
@media (max-width: 900px) {
  .popup {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  .popup__form {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .popup {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .menu {
    padding: 1.5625vw;
    width: 25%;
  }
  .menu__link {
    font-size: 1.25vw;
    padding: 0.46875vw 0;
  }
  .menu__line {
    height: 0.15625vw;
    margin: 1.09375vw 0;
  }
  .menu__logo {
    width: 9.453125vw;
  }
  .menu__address {
    font-size: 0.9375vw;
    margin: 2.34375vw 0;
  }
  .menu__drive {
    font-size: 0.9375vw;
    margin-bottom: 3.125vw;
  }
}
@media (max-width: 900px) {
  main {
    position: static;
    width: 100%;
    margin-left: 0;
  }
  main-fixed {
    overflow: hidden;
  }

  .menu {
    position: fixed;
    top: -100vh;
    height: 100%;
    overflow: hidden;
    padding: 2.2222222222vw;
    width: 100%;
    transition: top 0.3s;
  }
  .menu__link {
    font-size: 16px;
    padding: 0.6666666667vw 0;
  }
  .menu__line {
    height: 0.2222222222vw;
    margin: 1.5555555556vw 0;
  }
  .menu__logo-box {
    margin: 0;
  }
  .menu__logo {
    width: 121px;
  }
  .menu__address {
    font-size: 12px;
    margin: 3.3333333333vw 0;
  }
  .menu__drive {
    font-size: 12px;
    margin-bottom: 4.4444444444vw;
  }
  .menu--small {
    padding: 20px 20px 20px;
    position: fixed;
    z-index: 10;
    width: 50%;
    top: 0;
    left: 0;
  }
}
@media (max-width: 900px) and (min-width: 1280px) {
  .menu--small {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  .menu--small {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 900px) and (max-width: 520px) {
  .menu--small {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
@media (max-width: 900px) {
  .menu .button_green {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .menu_show {
    padding: 20px 20px 20px;
    z-index: 20;
    top: 0;
    height: 100%;
    overflow: hidden;
  }
}
@media (max-width: 900px) and (min-width: 1280px) {
  .menu_show {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) and (max-width: 900px) {
  .menu_show {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 900px) and (max-width: 520px) {
  .menu_show {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
@media (max-width: 520px) {
  .menu {
    padding: 3.8461538462vw;
    transform: translatey(-100vh);
    width: 25%;
    top: -100vh;
    height: 100%;
    overflow: hidden;
  }
  .menu_show {
    transform: translatey(100vh);
  }
  .menu__link {
    font-size: 16px;
    padding: 1.1538461538vw 0;
  }
  .menu__line {
    height: 0.3846153846vw;
    margin: 2.6923076923vw 0;
  }
  .menu__logo-box {
    margin: 0;
  }
  .menu__logo {
    width: 121px;
  }
  .menu__address {
    font-size: 12px;
    margin: 5.7692307692vw 0;
  }
  .menu__drive {
    font-size: 12px;
    margin-bottom: 7.6923076923vw;
  }
  .menu--small {
    width: 100%;
  }
  .menu .button_green {
    width: 100%;
  }

  .menu_show {
    padding: 20px 20px 20px;
    z-index: 20;
    display: block;
    width: 100%;
    top: 0;
    height: 100%;
    overflow: hidden;
  }
}
@media (max-width: 520px) and (min-width: 1280px) {
  .menu_show {
    padding: 1.5625vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 520px) and (max-width: 900px) {
  .menu_show {
    padding: 2.2222222222vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) and (max-width: 520px) {
  .menu_show {
    padding: 3.8461538462vw 3.8461538462vw;
  }
}
.datepicker {
  display: none;
}
.datepicker.active {
  display: block;
}

.datepicker-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 4px;
}
.datepicker-dropdown.datepicker-orient-top {
  padding-top: 0;
  padding-bottom: 4px;
}

.datepicker-picker {
  display: inline-block;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.datepicker-dropdown .datepicker-picker {
  box-shadow: 0 2px 3px rgba(19, 18, 18, 0.1), 0 0 0 1px rgba(19, 18, 18, 0.1);
}
.datepicker-picker span {
  display: block;
  flex: 1;
  border: 0;
  border-radius: 4px;
  cursor: default;
  text-align: center;
  -webkit-touch-callout: none;
  user-select: none;
}

.datepicker-main {
  padding: 2px;
}

.datepicker-footer {
  box-shadow: inset 0 1px 1px rgba(19, 18, 18, 0.1);
  background-color: #FFFFFF;
}

.datepicker-controls, .datepicker-view, .datepicker-view .days-of-week, .datepicker-grid {
  display: flex;
}

.datepicker-grid {
  flex-wrap: wrap;
}

.datepicker-view .dow, .datepicker-view .days .datepicker-cell {
  flex-basis: 14.2857142857%;
}

.datepicker-view.datepicker-grid .datepicker-cell {
  flex-basis: 25%;
}

.datepicker-view .week, .datepicker-cell {
  height: 2.25rem;
  line-height: 2.25rem;
}

.datepicker-title {
  font-family: Akrobat;
  font-style: normal;
  box-shadow: inset 0 -1px 1px rgba(19, 18, 18, 0.1);
  background-color: #FFFFFF;
  padding: 0.375rem 0.75rem;
  text-align: center;
  font-weight: 700;
}

.datepicker-header .datepicker-controls {
  padding: 2px 2px 0;
}
.datepicker-controls .button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-shadow: none;
  background-color: #FFFFFF;
  cursor: pointer;
  padding: calc(0.375em - 1px) 0.75em;
  height: 2.25em;
  vertical-align: top;
  text-align: center;
  line-height: 1.5;
  white-space: nowrap;
  color: #131212;
  font-size: 1rem;
}
.datepicker-controls .button:focus, .datepicker-controls .button:active {
  outline: none;
}
.datepicker-controls .button:hover {
  border-color: #bfbfbf;
  color: #131212;
}
.datepicker-controls .button:focus {
  border-color: #249D6A;
  color: #131212;
}
.datepicker-controls .button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(36, 157, 106, 0.25);
}
.datepicker-controls .button:active {
  border-color: #545050;
  color: #131212;
}
.datepicker-controls .button[disabled] {
  cursor: not-allowed;
}
.datepicker-header .datepicker-controls .button {
  border-color: transparent;
  font-weight: bold;
}
.datepicker-header .datepicker-controls .button:hover {
  background-color: #f9f9f9;
}
.datepicker-header .datepicker-controls .button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}
.datepicker-header .datepicker-controls .button:active {
  background-color: #f2f2f2;
}
.datepicker-header .datepicker-controls .button[disabled] {
  box-shadow: none;
}
.datepicker-footer .datepicker-controls .button {
  margin: calc(0.375rem - 1px) 0.375rem;
  border-radius: 2px;
  width: 100%;
  font-size: 0.75rem;
}
.datepicker-controls .view-switch {
  flex: auto;
}
.datepicker-controls .prev-btn,
.datepicker-controls .next-btn {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
  width: 2.25rem;
}
.datepicker-controls .prev-btn.disabled,
.datepicker-controls .next-btn.disabled {
  visibility: hidden;
}

.datepicker-view .dow {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: #131212;
}
.datepicker-view .dow--output {
  color: red;
}
.datepicker-view .week {
  width: 2.25rem;
  color: #bfbfbf;
  font-size: 0.75rem;
}
@media (max-width: 22.5rem) {
  .datepicker-view .week {
    width: 1.96875rem;
  }
}

.datepicker-grid {
  width: 15.75rem;
}
@media (max-width: 22.5rem) {
  .calendar-weeks + .days .datepicker-grid {
    width: 13.78125rem;
  }
}

.datepicker-cell {
  color: #131212;
}
.datepicker-cell:not(.disabled):hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
.datepicker-cell.focused:not(.selected) {
  background-color: #249D6A;
  color: #FFFFFF;
}
.datepicker-cell.selected, .datepicker-cell.selected:hover {
  background-color: #249D6A;
  color: #fff;
  font-weight: 600;
}
.datepicker-cell.disabled {
  color: #e6e6e6;
}
.datepicker-cell.prev:not(.disabled), .datepicker-cell.next:not(.disabled) {
  color: #7a7a7a;
}
.datepicker-cell.prev.selected, .datepicker-cell.next.selected {
  color: #e6e6e6;
}
.datepicker-cell.highlighted:not(.selected):not(.range):not(.today) {
  border-radius: 0;
  background-color: #FFFFFF;
}
.datepicker-cell.highlighted:not(.selected):not(.range):not(.today):not(.disabled):hover {
  background-color: #f9f9f9;
}
.datepicker-cell.highlighted:not(.selected):not(.range):not(.today).focused {
  background-color: #249D6A;
  color: #FFFFFF;
}
.datepicker-cell.today:not(.selected) {
  background-color: #00d1b2;
}
.datepicker-cell.today:not(.selected):not(.disabled) {
  color: #fff;
}
.datepicker-cell.today.focused:not(.selected) {
  background-color: #00c4a7;
}
.datepicker-cell.range-start:not(.selected), .datepicker-cell.range-end:not(.selected) {
  background-color: #bfbfbf;
  color: #fff;
}
.datepicker-cell.range-start.focused:not(.selected), .datepicker-cell.range-end.focused:not(.selected) {
  background-color: #b9b9b9;
}
.datepicker-cell.range-start {
  border-radius: 4px 0 0 4px;
}
.datepicker-cell.range-end {
  border-radius: 0 4px 4px 0;
}
.datepicker-cell.range {
  border-radius: 0;
  background-color: #e6e6e6;
}
.datepicker-cell.range:not(.disabled):not(.focused):not(.today):hover {
  background-color: #dfdfdf;
}
.datepicker-cell.range.disabled {
  color: #cccccc;
}
.datepicker-cell.range.focused {
  background-color: #d9d9d9;
}
.datepicker-view.datepicker-grid .datepicker-cell {
  height: 4.5rem;
  line-height: 4.5rem;
}

.datepicker-input.in-edit {
  border-color: #1f885c;
}
.datepicker-input.in-edit:focus, .datepicker-input.in-edit:active {
  box-shadow: 0 0 0.25em 0.25em rgba(31, 136, 92, 0.2);
}

html {
  scroll-behavior: smooth;
}

.article-news__inner {
  padding: 100px 20px 20px;
  height: 100%;
  width: 50%;
}
@media (min-width: 1280px) {
  .article-news__inner {
    padding: 7.8125vw 1.5625vw 1.5625vw;
  }
}
@media (max-width: 900px) {
  .article-news__inner {
    padding: 11.1111111111vw 2.2222222222vw 2.2222222222vw;
  }
}
@media (max-width: 520px) {
  .article-news__inner {
    padding: 19.2307692308vw 3.8461538462vw;
  }
}
.article-news__img {
  background: #249D6A;
  width: 37.5%;
  min-height: 220px;
}

@media (max-width: 900px) {
  .article-news__img {
    width: 50%;
  }
}
@media (max-width: 520px) {
  .article-news {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 0;
    height: 100%;
  }
  .article-news__inner {
    height: 100%;
    width: 100%;
    padding-top: 20px;
  }
  .article-news__img {
    position: relative;
    width: 100%;
    height: 38vh;
  }
  .article-news__img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
  }
}

/*# sourceMappingURL=news-card.css.map */
