@import "helper";
@import "star-ratings";

.reviews {
  &__title {
    font-family: Akrobat;
    font-style: normal;
    font-weight: 800;
    font-size: get-vw(60px, 1280px);
    line-height: 90%;
    text-transform: uppercase;
    color: #249D6A;
    margin: 0;
    padding: 100px 0 40px 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &_white {
    background: #FFFFFF;
  }
}

.reviews__item {
  display: flex;
  width: 50%;
  padding: 0 20px;
  margin: 40px 0 0 0;

  &_white {
    background: #FFFFFF;
  }

  &:nth-child(odd) {
    border-right: 2px solid rgba(19, 18, 18, 0.1);
  }
}

.reviews__item-avatar {
  min-width: 6.25vw;
  height: 6.25vw;
  width: 6.25vw;
  border-radius: 50%;
  background: #249D6A;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5625vw;

  span {
    font-family: Akrobat;
    font-style: normal;
    font-weight: 800;
    font-size: 3.125vw;
    line-height: 100%;

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  &_white {
    background: #249D6A;

    span {
      color: #FFFFFF;
    }
  }
}

.reviews__item-inner {
  padding-right: 20px;

  &__name {
    font-family: Akrobat;
    font-style: normal;
    font-weight: bold;
    font-size: get-vw(20px, 1280px);
    line-height: 100%;
    text-transform: uppercase;

    color: #249D6A;

    padding: 0;
    margin: 0;
  }

  &__mark {
    padding: 0;
    margin-top: 10px;
  }

  &__massage {
    font-family: TT Interfaces;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(14px, 1280px);
    line-height: 140%;

    color: rgba(19, 18, 18, 0.7);

    padding: 0;
    margin-top: 20px;

    max-height: 80px;
    overflow: hidden;
  }

  &__more {
    font-family: TT Interfaces;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(12px, 1280px);
    line-height: 140%;

    text-decoration-line: underline;
    color: rgba(19, 18, 18, 0.4);

    //position: absolute;
    bottom: 0;
    margin: 0;
  }
}

