@charset "UTF-8";
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden; }

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* Слайд */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка не активная */
/* Активная точка */
/* Элемент точки */
.slider_main {
  position: relative;
  /* Слайд активный (показывается) */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */ }
  .slider_main .slick-dots {
    position: absolute;
    bottom: 156px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .slider_main .slick-dots li {
    display: none; }
  .slider_main .slick-dots li.slick-active {
    display: block;
    font-family: Akrobat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    margin-left: 65px;
    /* identical to box height, or 16px */
    text-transform: uppercase;
    color: #FFFFFF; }
  .slider_main .slick-arrow {
    position: absolute;
    z-index: 9;
    bottom: 153px;
    font-size: 0;
    height: 20px;
    width: 30px;
    border: none;
    cursor: pointer; }
  .slider_main .slick-arrow.slick-prev {
    left: 20px;
    background: url("../media/arrow-l.svg") no-repeat center; }
  .slider_main .slick-arrow.slick-next {
    left: 120px;
    background: url("../media/arrow-r.svg") no-repeat center; }
  .slider_main .slider__item {
    padding: 1.5625vw;
    padding-top: 100px;
    height: 600px;
    position: relative; }
    .slider_main .slider__item h2 {
      font-family: Akrobat;
      font-style: normal;
      font-weight: 800;
      font-size: 60px;
      line-height: 90%;
      margin: 0;
      /* or 54px */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-transform: uppercase;
      color: #FFFFFF; }
    .slider_main .slider__item .slider__text {
      position: absolute;
      bottom: 100px; }
    .slider_main .slider__item .slider__item-start {
      display: inline-block;
      font-family: TT Interfaces;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 140%;
      /* or 17px */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: rgba(255, 255, 255, 0.6); }
    .slider_main .slider__item .slider__item-date {
      font-family: TT Interfaces;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      /* or 17px */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: white; }
