@import "base/basic";

@import "modules/b-contact";

.contacts {
  &--full {
    height: 100vh;
    width: 100%;
  }

  &--green {
    background: #{$green};

    b,
    p,
    a,
    h2 {
      color: #{$white};
    }
  }

  &__inner {
    @include container(100px);
  }
}
