@import "base/basic";
@import "modules/b-slider";

.gallery {
  color: #{$green};
  width: 100%;

  &__title {
    font-family: Akrobat;
    font-style: normal;
    font-weight: 800;
    line-height: 90%;
    text-transform: uppercase;
    text-align: left;

    color: #{$green};
    padding: 100px 20px 20px;
    font-size: 60px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.button_menu {
  background: transparent;
  border: 2px solid #{$green};
  color: #{$green};
}

@media (min-width: $break-point-large-screen) {
  .gallery {
    &__title {
      font-size: get-vw(60px, $break-point-large-screen);
      padding: #{get-vw(100px, $break-point-large-screen)} #{get-vw(20px, $break-point-large-screen)} #{get-vw(20px, $break-point-large-screen)};
    }
  }

  .slider {
    height: #{get-vw(240px, $break-point-large-screen)};

    &__title {
      margin: #{get-vw(20px, $break-point-large-screen)};
      font-size: #{get-vw(32px, $break-point-large-screen)};
    }

    &--show {
      height: #{get-vw(600px, $break-point-large-screen)};
    }

    &__arrow {
      margin: #{get-vw(20px, $break-point-large-screen)};
    }

    &__line {
      height: #{get-vw(2px, $break-point-large-screen)};
      width: #{get-vw(20px, $break-point-large-screen)};
      margin: auto #{get-vw(5px, $break-point-large-screen)};
    }
  }

}

@media (max-width: $break-point-tablet) {
  .gallery {
    &__title {
      font-size: 50px;
      padding: #{get-vw(100px, $break-point-tablet)} #{get-vw(20px, $break-point-tablet)} #{get-vw(20px, $break-point-tablet)};
    }
  }

  .slider {
    height: #{get-vw(240px, $break-point-tablet)};

    &__title {
      margin: #{get-vw(20px, $break-point-tablet)};
      font-size: #{get-vw(32px, $break-point-tablet)};
    }

    &--show {
      height: #{get-vw(600px, $break-point-tablet)};
    }

    &__arrow {
      margin: #{get-vw(20px, $break-point-tablet)};
    }

    &__line {
      height: #{get-vw(2px, $break-point-tablet)};
      width: #{get-vw(20px, $break-point-tablet)};
      margin: auto #{get-vw(5px, $break-point-tablet)};
    }
  }
}

@media (max-width: $break-point-mobile) {
  .gallery {
    &__title {
      font-size: 40px;
      padding: #{get-vw(100px, $break-point-mobile)} #{get-vw(20px, $break-point-mobile)} #{get-vw(20px, $break-point-mobile)};
    }
  }

  .slider {
    height: #{get-vw(240px, $break-point-mobile)};

    &__title {
      margin: #{get-vw(20px, $break-point-mobile)};
      font-size: #{get-vw(32px, $break-point-mobile)};
    }

    &--show {
      height: #{get-vw(600px, $break-point-mobile)};
    }

    &__arrow {
      margin: #{get-vw(20px, $break-point-mobile)};
    }

    &__line {
      height: #{get-vw(2px, $break-point-mobile)};
      width: #{get-vw(20px, $break-point-mobile)};
      margin: auto #{get-vw(5px, $break-point-mobile)};
    }
  }
}
