@import "base/basic";

.gallery {
  color: #{$green};
  width: 100%;

  &__title {
    color: #{$green};
    padding: 100px 20px 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.slider {
  position: relative;
  height: 240px;
  width: 100%;
  transition: height 0.8s ease;

  &__title {
    position: absolute;
    margin: 20px 20px 20px;
    top: 0;
    left: 0;

    font-family: Akrobat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #FFFFFF;
    z-index: 2;
  }

  &__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__cell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scale(1);
    transition: transform 0.8s ease;

    &:hover {
      transform: scale(1.3);
    }
  }

  .flickity-prev-next-button {
    display: none;
  }

  &--show {
    height: 600px;
    width: 100%;

    .flickity-prev-next-button {
      display: block;
    }
  }

  &--show &__cell {
    transform: scale(1);

    &:hover {
      transform: scale(1);
    }
  }

}


.button_menu {
  background: transparent;
  border: 2px solid #{$green};
  color: #{$green};
}


@media (min-width: $break-point-large-screen) {
  .gallery {
    &__title {
      padding: #{get-vw(100px, $break-point-large-screen)} #{get-vw(20px, $break-point-large-screen)} #{get-vw(20px, $break-point-large-screen)};
    }
  }
}

@media (max-width: $break-point-tablet) {
  .gallery {
    &__title {
      padding: #{get-vw(100px, $break-point-tablet)} #{get-vw(20px, $break-point-tablet)} #{get-vw(20px, $break-point-tablet)};
    }
  }
}

@media (max-width: $break-point-mobile) {
  .gallery {
    &__title {
      padding: #{get-vw(100px, $break-point-mobile)} #{get-vw(20px, $break-point-mobile)} #{get-vw(20px, $break-point-mobile)};
    }
  }
}