@import "base/basic";

body {
  background: #{$green};
}

.news__item-bg img {
  transition: transform 0.5s;
}

.news {
  &__title {
    @include container(100px);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    width: 50%;
    height: 240px;
    object-fit: cover;
    overflow: hidden;

    &:hover {
      .news__item-bg img {
        transform: scale(1.1);
      }
    }

    &-bg {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
      }
    }

    &-bg::after {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(19, 18, 18, 0.8);
    }

    &-inner {
      display: flex;
      flex-direction: column;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      color: #{$white};
      padding: 20px;

      &__read-more {
        flex-grow: 1;
        color: $gray-text-light;
      }
    }
  }
}


@media (min-width: $break-point-large-screen) {
  .news {
    &__item {
      height: #{get-vw(240px, $break-point-large-screen)};
    }
  }

  .news__item-inner {
    padding: get-vw(20px, $break-point-tablet);
  }
}

@media (max-width: $break-point-tablet) {
  .news {
    &__item {
      height: 240px;
    }
  }

  .news__item-inner {
    padding: 20px
  }
}

@media (max-width: $break-point-mobile) {
  .news {

    &__item {
      width: 100%;
      height: 260px;
    }
  }

  .news__item-inner {
    padding: 20px;
  }
}
