@import "../helper";

@media (max-width: 640px) {
  .article-news {
    &__inner {
      height: 100%;
      width: 62.5vw;
      padding: get-vw(100px, 640px) get-vw(20px, 640px) 0;
    }
  }

  .button_menu {
    border-color: #{$green};
    color: #{$green};
  }
}

@media (max-width: 420px) {

  .article-news {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    height: 100%;

    &__inner {
      height: 100%;
      width: 100vw;
      padding: get-vw(20px, 320px) get-vw(20px, 320px) 0;

      &-title {
        font-size: get-vw(40px, 320px);
      }

      &-text {
        font-size: get-vw(12px, 320px);
        line-height: 160%;
      }
    }


    &__img {
      background: #249D6A;
      position: static;
      width: 100vw;
      min-height: 220px;
      height: 38vh;

      img {
        width: 100%;
        height: inherit;
        object-fit: cover;
      }
    }
  }

  .numbers_green {
    color: #{$white};
    border-color: #{$white};
  }

  .button_menu {
    border-color: #{$white};
    color: #{$white};
  }

}