@import "../helper";

@media (max-width: 640px) {

  .button {
    display: block;
    font-size: get-vw(14px, 640px);
    width: calc(50vw - #{get-vw(20px, 640px)});
    padding: get-vw(20px, 640px) 0;
    margin: 20px 0;
    position: fixed;
    top: 0;
    left: 25%;
    transform: translateX(-50%);
  }

  main {
    position: static;
    width: 100%;
    margin-left: 0;
  }

  .numbers {
    display: none;

    width: 0;
    height: 0;

    margin: 0;
    padding: 0;
  }

  .menu {
    display: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
  }
}

@media (max-width: 420px) {
  .button {
    display: block;
    font-size: get-vw(16px, 320px);
    height: 10vh;
    width: calc(100vw - 40px);
    padding: 21px 0;
    margin: 20px 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
