@import "../helper";

@import "../blocks/contacts";

.contacts_green {
  background: #249D6A;

  b, p, a, h2 {
    color: #{$white};
  }
}

.button {
  display: none;
}


@import "../media/contacts_media";