@import "../helper";

@import "../basic";

@import "../blocks/b-first-slide";

.hunt__list {
  display: flex;
  flex-wrap: wrap;
}

.hunt__item {
  width: 100%;
  height: 18.75vw;
  padding: 1.5625vw;
  transition: .3s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  color: #{$white};

  b {
    color: #{$white};
  }

  &-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/hunt-list/image 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .3s;
    z-index: -1;

  }

  &:hover {
    .hunt__item-bg {
      transform: scale(1.03);
    }
  }

  &_active {
    height: 37.5vw;

    .hunt__item-bg {
      transform: scale(1.03);
    }
  }
}

.calc {
  width: 100%;
  background: #{$green};
  padding: get-vw(20px, 1280px);

  &__des {
    width: 50%;
  }

  &__inner {
    display: flex;

    .calc__params {
      width: 50%;

      .calc__list {
        display: flex;
        justify-content: space-between;
      }

      ul {
        padding: get-vw(20px, 1280px) 0;

        li {
          padding: get-vw(10px, 1280px) 0;
        }
      }
    }

    .calc__form {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-left: get-vw(20px, 1280px);
    }

    .calc__booking, calc__total {
      display: flex;
      justify-content: space-between;
    }
  }

  &__button {
    border: none;
    height: 1.171875vw;
    width: 2.34375vw;
    border: none;
    cursor: pointer;
    object-fit: cover;
    text-align: center;

    &_left {
      text-align: center;
      background: url('../media/arrow-l.svg') no-repeat center;
    }

    &_right {
      background: url('../media/arrow-r.svg') no-repeat center;
    }
  }
}

.button_menu {
  display: none;
}

@import "../blocks/b-contact";

@import "../blocks/b-menu";

@import "../media/hunting-types_media";