@import "../helper";

.reviews {
  background: #{$white};
  padding: get-vw(20px, 1280px) get-vw(20px, 1280px) 0;

  &__title {
    color: #{$green};
    padding: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: get-vw(40px, 1280px);
  }

  &__item {
    background: #{$white};
    display: flex;
    width: 50%;
    margin: 0 0 get-vw(40px, 1280px) 0;

    &:nth-child(odd) {
      border-right: 2px solid rgba(255, 255, 255, 0.1);
      padding-right: get-vw(20px, 1280px);
    }

    &:nth-child(even) {
      padding-left: get-vw(20px, 1280px);
    }

    &-avatar {
      background: #{$green};
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 6.25vw;
      height: 6.25vw;
      width: 6.25vw;
      border-radius: 50%;
      margin-right: 1.5625vw;

      span {
        color: #{$white};
        transform: translateX(+25%);
        font-family: Akrobat;
        font-style: normal;
        font-weight: 800;
        font-size: 3.125vw;
        line-height: 100%;

        display: flex;
        align-items: center;
        text-transform: uppercase;
      }
    }

    &-inner {
      padding-right: 20px;

      &__name {
        color: #{$green};

        font-family: Akrobat;
        font-style: normal;
        font-weight: bold;
        font-size: get-vw(20px, 1280px);
        line-height: 100%;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
      }

      &__mark {
        padding: 0;
        margin-top: get-vw(7px, 1280px);
      }

      &__massage {
        color: #{$black};
        opacity: 0.7;
        padding: get-vw(10px, 1280px) 0;
        max-height: 80px;
        overflow: hidden;
      }

      &__more {
        color: #{$black};
        opacity: 0.4;
        bottom: 0;
        margin: 0;
      }
    }
  }
}

.reviews_green {
  background: #{$green};

  .reviews {
    &__title {
      color: #{$white};
    }

    &__item {
      background: #{$green};

      &-avatar {
        background: #{$white};

        span {
          color: #{$green};
        }
      }

      &-inner {
        &__name {
          color: #{$white};
        }

        &__mark {
          .mark-star {
            #star {
              fill: #{$green};
              stroke: #{$white};
            }
          }

          .mark-star_active {
            #star {
              fill: #{$white};
              stroke: #{$white};
            }
          }
        }

        &__massage {
          color: #{$white};
          opacity: 0.7;
        }

        &__more {
          color: #{$white};
          opacity: 0.4;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .reviews {
    padding: get-vw(100px, 640px) get-vw(20px, 640px) 0;
  }
  .mark-star {
    svg {
      width: 6%;
      height: 6%;
    }
  }
}

@media (max-width: 420px) {

  .reviews {
    padding: get-vw(100px, 320px) get-vw(20px, 320px) 0;
    &__item {
      width: 100%;
      margin: get-vw(20px, 320px) 0 get-vw(20px, 320px) 0;
      padding-bottom: get-vw(20px, 320px);
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);

      &:nth-child(odd) {
        border-right: none;
      }

      &-inner {
        &__name {
          font-size: get-vw(20px, 320px);
        }

        &__mark {
          margin-top: get-vw(8px, 320px);
        }

        &__massage {
          font-size: get-vw(14px, 320px);
          margin-top: get-vw(15px, 320px);
          margin-bottom: get-vw(20px, 320px);
        }

        &__more {
          font-size: get-vw(12px, 320px);
        }
      }

      &-avatar {
        display: none;
      }
    }
  }
  .mark-star {
    svg {
      width: 6%;
      height: 6%;
    }
  }
}
