.mark-star_green {
  svg {
    width: 6%;
    height: 6%;
  }

  #star {
    fill: #FFFFFF;
    stroke: #249D6A;
  }
}


.mark-star_green_active {
  #star {
    fill: #249D6A;
    stroke: #249D6A;
  }
}