/* Слайдер */
.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
}

/* Слайд */
.slick-slide {}



/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}


/* Стрелка не активная */
.slick-arrow.slick-disabled {}


/* Активная точка */
.slick-dots li.slick-active {}

/* Элемент точки */


.slider_main {
    position: relative;

    .slick-dots {
        position: absolute;
        bottom: 11.953125vw;
        display: flex;
    }

    .slick-dots li {
        display: none;
    }

    /* Слайд активный (показывается) */
    .slick-dots li.slick-active {
        display: block;
        font-family: Akrobat;
        font-style: normal;
        font-weight: bold;
        font-size: 1.25vw;
        line-height: 100%;
        margin-left: 4.578125vw;
        /* identical to box height, or 16px */

        text-transform: uppercase;

        color: #FFFFFF;
    }



    /* Стрелка */
    .slick-arrow {
        position: absolute;
        z-index: 9;
        bottom: 11.65vw;
        font-size: 0;
        height: 1.5625vw;
        width: 2.34375vw;
        border: none;
        cursor: pointer;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent
    }

    /* Стрелка влево */
    .slick-arrow.slick-prev {
        left: 1.2vw;
        background-image: url('../media/arrow-l.svg');
    }

    /* Стрелка вправо */
    .slick-arrow.slick-next {
        left: 9.075vw;
        background-image: url('../media/arrow-r.svg');
    }

    .slider__item {
        padding: 1.5625vw;
        padding-top: 7.8125vw;
        min-height: 46.875vw;
        height: 100vh;
        position: relative;

        h2 {
            font-family: Akrobat;
            font-style: normal;
            font-weight: 800;
            font-size: 4.6875vw;
            line-height: 90%;
            margin: 0;
            /* or 54px */

            display: flex;
            align-items: center;
            text-transform: uppercase;

            color: #FFFFFF;
        }

        .slider__text {
            position: absolute;
            bottom: 7.8125vw;
        }

        .slider__item-start {
            display: inline-block;

            font-family: TT Interfaces;
            font-style: normal;
            font-weight: 500;
            font-size: 0.9375vw;
            line-height: 140%;
            /* or 17px */

            display: flex;
            align-items: center;

            color: rgba(255, 255, 255, 0.6);
        }

        .slider__item-date {
            font-family: TT Interfaces;
            font-style: normal;
            font-weight: 500;
            font-size: 1.09375vw;
            line-height: 140%;
            /* or 17px */

            display: flex;
            align-items: center;

            color: rgba(255, 255, 255, 1);
        }
    }
}

.slider_about {
    position: relative;

    .slick-dots {
        position: absolute;
        bottom: 3.125vw;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

    }

    .slick-dots li {
        display: none;
    }


    /* Слайд активный (показывается) */
    .slick-dots li.slick-active {
        display: block;
        font-family: Akrobat;
        font-style: normal;
        font-weight: bold;
        font-size: 1.25vw;
        line-height: 100%;
        margin-left: 4.578125vw;
        /* identical to box height, or 16px */

        text-transform: uppercase;

        color: #FFFFFF;
    }



    /* Стрелка */
    .slick-arrow {
        position: absolute;
        z-index: 9;
        bottom: 21.8745vw;
        font-size: 0;
        height: 3.125vw;
        width: 3.125vw;
        border: none;
        cursor: pointer;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #249D6A;
        border-radius: 50%;
    }

    /* Стрелка влево */
    .slick-arrow.slick-prev {
        left: 1.2vw;
        background-image: url('../media/arrow-l.svg');
    }

    /* Стрелка вправо */
    .slick-arrow.slick-next {
        right: 1.2vw;
        background-image: url('../media/arrow-r.svg');
    }

    .slider__item {
        height: 46.875vw;
        position: relative;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h2 {
            font-family: Akrobat;
            font-style: normal;
            font-weight: 800;
            font-size: 4.6875vw;
            line-height: 90%;
            margin: 0;
            /* or 54px */

            display: flex;
            align-items: center;
            text-transform: uppercase;

            color: #FFFFFF;
        }

        .slider__text {
            position: absolute;
            bottom: 7.8125vw;
        }

        .slider__item-start {
            display: inline-block;

            font-family: TT Interfaces;
            font-style: normal;
            font-weight: 500;
            font-size: 0.9375vw;
            line-height: 140%;
            /* or 17px */

            display: flex;
            align-items: center;

            color: rgba(255, 255, 255, 0.6);
        }

        .slider__item-date {
            font-family: TT Interfaces;
            font-style: normal;
            font-weight: 500;
            font-size: 1.09375vw;
            line-height: 140%;
            /* or 17px */

            display: flex;
            align-items: center;

            color: rgba(255, 255, 255, 1);
        }
    }
}