@import "helper";

@import "reset";

@import "mixins";

@import "typography";

@import "../modules/b-numbers";

@import "../modules/b-button";

@import "../modules/b-menu";

@import "datepicker";
@import "timepicker";

html {
  scroll-behavior: smooth;
}

.title-block {
  display: block;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.nav-block {
  // padding: 0;
  opacity: 0;

  @media (max-width: $break-point-tablet) {
    opacity: 1;
  }
}

.show-block {
  opacity: 1;
}

.opacity-block {
  opacity: 0;
  transform: translateY(20px);
  transition: all .7s;

  &--show {
    opacity: 1;
    transform: translateY(0);
  }
}
