@mixin container($padding-top: 20px) {
  padding: $padding-top 20px 20px;

  @media (min-width: $break-point-large-screen) {
    padding: #{get-vw($padding-top, $break-point-large-screen)} get-vw(20px, 1280px) get-vw(20px, 1280px);
  }

  @media (max-width: #{$break-point-tablet}) {
    padding: #{get-vw($padding-top, $break-point-tablet)} get-vw(20px, $break-point-tablet) get-vw(20px, $break-point-tablet);
  }

  @media (max-width: #{$break-point-mobile}) {
    padding: #{get-vw($padding-top, $break-point-mobile)} get-vw(20px, $break-point-tablet) 20px;
  }
}

@mixin container-left($padding-left: 20px) {
  padding-left: $padding-left;

  @media (min-width: $break-point-large-screen) {
    padding-left: #{get-vw($padding-left, $break-point-large-screen)};
  }

  @media (max-width: #{$break-point-tablet}) {
    padding-left: #{get-vw($padding-left, $break-point-tablet)};
  }

  @media (max-width: #{$break-point-mobile}) {
    padding-left: #{get-vw($padding-left, $break-point-mobile)};
  }
}

