.button {
  font-size: 16px;
  padding: 22px;

  cursor: pointer;
  border: none;

  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;

  line-height: 100%;
  transition: .1s;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background: #{$green};
    color: #{$white};
  }

  &_green {
    background: #{$green};
    color: #{$white};
  }

  &_green:hover {
    background: #{$white};
    color: #{$green};
  }

  &_menu {
    display: none;
    padding: 22px;
    border: 2px solid #{$white};
    font-size: 14px;
    width: 100%;
    background: transparent;
    color: #{$white};
  }

  &_close {
    display: none;
    background: url("../media/btn_close.svg") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }

  &_close-active {
    display: flex;
    align-self: center;
  }

  &_menu:hover {
    background: #{$white};
    color: #{$black};
  }
}

@media (min-width: $break-point-large-screen) {
  .button {
    font-size: get-vw(16px, $break-point-large-screen);
    padding: get-vw(22px, $break-point-large-screen);
  }
}

@media (max-width: #{$break-point-tablet}) {
  .button {
    padding: get-vw(22px, $break-point-tablet) 0;
    font-size: 14px;

    &_white-border {
      font-size: 14px;
    }

    &_green-border {
      font-size: 14px;
    }

    &_menu {
      display: block;
      padding: get-vw(22px, $break-point-tablet);
      font-size: 14px;
    }
  }
}

@media (max-width: #{$break-point-mobile}) {
  .button {
    padding: get-vw(22px, $break-point-mobile) 0;
    font-size: 14px;

    &_white-border {
      font-size: 14px;
    }

    &_green-border {
      font-size: 14px;
    }

    &_menu {
      padding: get-vw(22px, $break-point-mobile);
      font-size: 14px;
    }
  }
}