.contacts {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  &__inner {
    width: 37.5vw;
    flex-grow: 1;
    padding: get-vw(20px, 1280px);
  }

  &__title {
    color: #{$green};
    padding-bottom: get-vw(20px, 1280px);
  }

  &__text {

    &-item {
      padding-bottom: get-vw(20px, 1280px);

      b {
        color: #{$black};
      }

      p {
        padding: 0;
        color: #{$gray-text};
      }
    }


  }

  &__map {
    background: #FFFFFF;
    width: 37.5vw;
    height: 100vh;
  }
}

[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}

@media (max-width: 640px) {
  .contacts {
    &__inner {
      width: 50vw;
      padding: get-vw(20px, 640px);
    }

    &__map {
      width: 50vw;
    }
  }
}

@media (max-width: 420px) {
  .contacts {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__inner {
      width: 100%;
      padding: get-vw(20px, 320px);
    }

    &__title {
      color: #{$green};
      padding-bottom: get-vw(20px, 320px);
    }

    &__text-item {
      padding-bottom: get-vw(20px, 320px);
    }

    &__map {
      width: 100%;
      height: 40vh;
    }
  }
}

//media (min-width: 768px) and (max-width: 979px) {}
//media (min-width: 481px) and (max-width: 767px) {}
//media (max-width: 480px) {}