.features {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__item {
    width: 25%;
    margin: 0 auto;

    &-inner {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      padding-top: 50%;
      padding-bottom: 50%;
      object-fit: cover;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: rgba(19, 18, 18, 0.6);
      }
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    width: 100%;
    height: 100%;
  }

  &__title {
    font-size: 14px;
    position: absolute;
    z-index: $z-index-text;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
  }
}

@media (min-width: $break-point-large-screen) {
  .features {
    &__title {
      font-size: get-vw(14px, $break-point-large-screen);
    }

    &__item {
    }
  }
}

@media (max-width: $break-point-tablet) {
  .features {
    &__title {
      font-size: 14px;
    }

    &__item {
      width: 25%;
    }
  }
}

@media (max-width: $break-point-mobile) {
  .features {
    &__item {
      width: 50%;
      min-width: get-vw(160px, $break-point-mobile);
    }

    &__title {
      font-size: 14px;
    }
  }
}