
.first-slide {
  display: flex;
  height: 100vh;

  &__img {
    background-image: url('../media/bg-th.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
  }

  &__lead {
    display: flex;
    flex-direction: column;
    width: 50%;
    background: #{$green};
    padding: get-vw(100px, 1280px) get-vw(20px, 1280px) get-vw(20px, 1280px);
  }

  &__text {
    flex-grow: 1;
  }
}

@media (max-width: $break-point-tablet) {
  .first-slide {
    &__lead {
      padding: get-vw(100px, $break-point-tablet) get-vw(20px, $break-point-tablet) get-vw(20px, $break-point-tablet);
    }
  }
}

@media (max-width: $break-point-mobile) {
  .first-slide {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;

    &__img {
      width: 100%;
      height: 40%;
    }

    &__lead {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 60%;
      flex-grow: 1;
      padding: get-vw(20px, 320px);

      p {
        flex-grow: 1;
      }

      .button_main-slider {
        font-size: get-vw(14px, 320px);
        padding: get-vw(20px, 320px) 0;
      }
    }
  }
}