.hunt__list {}

.hunt__item {
  max-height: 280px;
  @include container();

  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  color: #{$white};
  transition: max-height 0.6s 0s linear;

  b {
    color: #{$white};
  }

  &-span {
    font-family: TT Interfaces;
    text-transform: none;
    font-weight: normal;
  }

  &-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/hunt-list/image 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .3s;
    z-index: -1;

  }

  &-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &-header {
    display: block;
    width: 100%;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 70%;
    flex-grow: 1;

    margin-left: -40px;

  }

  &-paragraph {
    width: 50%;
    flex-basis: calc((100% - (40px + 40px)) / 2);
    margin-left: 40px;

    &:not(:first-child) {
      opacity: 0;
      transition: opacity .3s .0s;
    }
  }

  &-bottom {
    height: 100%;
    flex: 1;
    opacity: 0;
    display: flex;
    padding-left: 20px;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    transition: opacity .3s .0s;
  }

  &:hover {
    .hunt__item-bg {
      transform: scale(1.03);
    }
  }

  &_active {
    max-height: 100vh;

    .hunt__item {
      &-bg {
        transform: scale(1.03);
      }

      &-bottom {
        transition: opacity .3s .3s;
        opacity: 1;
      }

      &-paragraph {
        transition: opacity .3s .3s;
        opacity: 1;
      }
    }
  }
}

@media (min-width: $break-point-large-screen) {
  .hunt__item {
    height: get-vw(280px, $break-point-large-screen);
    min-height: get-vw(280px, $break-point-large-screen);

    &_active {
      height: 100%;
      min-height: get-vw(280px, $break-point-large-screen);
    }

    &-container {
      margin-left: get-vw(-40px, $break-point-large-screen);
    }

    &-paragraph {
      flex-basis: calc((100% - (#{get-vw(80px, $break-point-large-screen)})) / 2);
      margin-left: get-vw(40px, $break-point-large-screen);
    }

    &-bottom {
      padding-left: get-vw(20px, $break-point-large-screen);
    }
  }
}

@media (max-width: $break-point-tablet) {
  .hunt__item {
    min-height: 240px;
    max-height: 240px;

    &_active {
      height: 100%;
      max-height: 100%;
      min-height: 280px;
    }

    &-bottom {
      padding-left: 20px;
    }
  }
}

@media (max-width: $break-point-mobile) {
  .hunt__item {
    width: 100%;
    min-height: 190px;
    max-height: 190px;

    &_active {
      height: 100%;
      max-height: 100%;
      min-height: 160px;
    }

    &-container {
      flex-wrap: nowrap;
      flex-direction: column;
    }

    &-paragraph {
      width: 100%;
      flex-basis: 100%
    }

    &-bottom {
      width: 100%;
      flex-direction: column;
      justify-content: space-around;
      padding: 0;
    }
  }

  .button_calc {
    width: 100%;
  }
}
