.hunt-slider {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #{$green};

  &__wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__cell {
    width: 100%;
    height: 100vh;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    object-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    transition: transform ease-in-out 1s, opacity ease-in-out 1s, z-index ease-in-out 1.1s;
    transform: scale(1.08);
    opacity: 0;
    z-index: -1;

    &--show {
      transform: scale(1);
      opacity: 1;
      z-index: 1;
    }

    &--scale {}
  }

  &__col {
    width: 50%;
    height: 100%;

    &--img {
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      overflow: hidden;
    }
  }

  &__content {
    @include container(100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: #{$green};
  }

  &__body {
    width: 64%;
    flex: 3;

    &--hunt {
      width: 100%;
    }
  }

  &__paragraph {
    font-family: TT Interfaces;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    line-height: 140%;
    color: #FFFFFF;
    margin: 20px 0px;
  }

  &__footer {
    flex-direction: column;
    justify-content: space-between;
  }

  &__info {}

  &__text {
    margin: 0 0 20px 0;
    padding: 0;

    font-family: TT Interfaces;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;

    &--accent {
      margin: 0;
      color: #{$white};
      text-transform: none;
      display: block;
      font-size: 12px;
      line-height: 160%;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__title {
    margin: 10px 0 0 0;
  }

  &__arrow-down {
    position: absolute;
    left: 25%;
    bottom: 0;
    color: #{$white};
    cursor: pointer;
    border: none;
    background: none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin: 0 0 40px 0;
    height: 20px;
    animation: sdb04 2s infinite;
  }

  @keyframes sdb04 {
    0% {
      transform: translate(0, 0);
    }

    20% {
      transform: translate(0px, 10px);
    }

    40% {
      transform: translate(0, 0);
    }
  }
}

.slider-navbar {
  position: absolute;
  left: 50%;
  bottom: 137px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;

  &__btn {
    display: flex;
    align-items: center;
    color: #{$white};
    cursor: pointer;
    border: none;
    background: none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin: 0;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
      padding: 0;
      margin: 0;

    }

    &--left {
      left: 0;

      &:before {
        background-image: url("../media/control_left.svg");
      }
    }

    &--right {
      right: 0;

      &:before {
        background-image: url("../media/control_right.svg");
      }
    }

  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5px;
    padding: 0;
  }

  &__prev-cell,
  &__next-cell {
    padding: 0;
  }

  &__hyphen {
    display: block;
    background-color: white;
    height: 2px;
    width: 20px;
    margin: auto 5px;
  }
}

@media (min-width: $break-point-large-screen) {
  .hunt-slider {

    &__body {
      width: 64%;
    }

    &__paragraph {
      font-size: get-vw(14px, $break-point-large-screen);
      margin: get-vw(20px, $break-point-large-screen) 0px;
    }

    &__text {
      margin: 0 0 get-vw(20px, $break-point-large-screen) 0;
      font-size: get-vw(14px, $break-point-large-screen);

      &--accent {
        margin: 0;
        font-size: get-vw(12px, $break-point-large-screen);
      }
    }

    &__title {
      margin: get-vw(10px, $break-point-large-screen) 0 0 0;
    }

    &__arrow-down {
      margin: 0 0 get-vw(40px, $break-point-large-screen) 0;
      height: get-vw(20px, $break-point-large-screen);
    }
  }

  .slider-navbar {
    margin: get-vw(20px, $break-point-large-screen);
    bottom: get-vw(137px, $break-point-large-screen);

    &__btn {
      &:before {
        width: get-vw(20px, $break-point-large-screen);
        height: get-vw(20px, $break-point-large-screen);
      }
    }

    &__inner {
      margin: 0 get-vw(5px, $break-point-large-screen);
      padding: 0;
    }

    &__hyphen {
      height: get-vw(2px, $break-point-large-screen);
      width: get-vw(20px, $break-point-large-screen);
      margin: auto get-vw(5px, $break-point-large-screen);
    }
  }
}

@media (max-width: $break-point-tablet) {
  .hunt-slider {

    &__body {
      width: 85%;
    }

    &__paragraph {
      font-size: 14px;
      margin: get-vw(20px, $break-point-tablet) 0px;
    }

    &__text {
      margin: 0 0 get-vw(20px, $break-point-tablet) 0;
      font-size: get-vw(14px, $break-point-tablet);

      &--accent {
        margin: 0;
        font-size: get-vw(12px, $break-point-tablet);
      }
    }

    &__title {
      margin: get-vw(10px, $break-point-tablet) 0 0 0;
    }

    &__arrow-down {
      margin: 0 0 get-vw(40px, $break-point-tablet) 0;
      height: get-vw(20px, $break-point-tablet);
    }
  }

  .slider-navbar {
    margin: get-vw(20px, $break-point-tablet);
    bottom: get-vw(137px, $break-point-tablet);

    &__btn {
      &:before {
        width: get-vw(24px, $break-point-tablet);
        height: get-vw(24px, $break-point-tablet);
      }
    }

    &__inner {
      margin: 0 get-vw(5px, $break-point-tablet);
      padding: 0;
    }

    &__hyphen {
      height: get-vw(2px, $break-point-tablet);
      width: get-vw(20px, $break-point-tablet);
      margin: auto get-vw(5px, $break-point-tablet);
    }
  }
}

@media (max-width: $break-point-mobile) {
  .hunt-slider {

    &__cell {
      flex-direction: column;
      flex-wrap: wrap;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
    }

    &__paragraph {
      font-size: 14px;
      margin: get-vw(20px, $break-point-mobile) 0px;
    }

    &__img {
      object-position: center;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &__col {
      width: 100%;
      height: 60%;

      &--img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40%;
      }
    }

    &__content {
      @include container();
    }

    &__body {
      width: 85%;
    }

    &__text {
      margin: 0 0 20px 0;
      font-size: 14px;

      &--accent {
        font-size: 12px;
        margin: 0;
      }
    }

    &__title {
      margin: 10px 0 0 0;
    }

    &__arrow-down {
      left: 50%;
      top: calc(40% - 40px);
      height: 20px;
    }
  }

  .slider-navbar {
    left: 0;
    margin: get-vw(20px, $break-point-mobile);
    bottom: get-vw(145px, $break-point-mobile);

    &__btn {
      &:before {
        width: get-vw(20px, $break-point-mobile);
        height: get-vw(20px, $break-point-mobile);
      }
    }

    &__inner {
      margin: 0 get-vw(5px, $break-point-mobile);
      padding: 0;
    }

    &__hyphen {
      height: get-vw(2px, $break-point-mobile);
      width: get-vw(20px, $break-point-mobile);
      margin: auto get-vw(5px, $break-point-mobile);
    }
  }
}

@media (max-width: 420px) {
  .slider-navbar {
    bottom: 18%;
  }
}
