main {
  margin-left: $menu-width;
  width: $main-width;
  position: relative;

  &-fixed {
    overflow: hidden;
  }
}

.menu {
  padding: 20px;
  background: #{$gray};
  width: $menu-width;
  height: 100%;
  position: fixed;
  display: flex;
  z-index: $z-index-menu-show;
  flex-direction: column;

  &__link {
    font-size: 16px;
    padding: 6px 0;

    font-family: Akrobat;
    font-style: normal;
    font-weight: bold;
    line-height: 100%;
    text-decoration-line: none;
    text-transform: uppercase;
    color: #{$black};

    transition: .15s color;
    display: flex;
    align-items: center;
  }

  &__link:hover {
    color: #{$green};
  }

  &__line {
    background-color: $gray-border-menu;
    height: 2px;
    border: none;
    margin: 14px 0;
  }

  &__logo-box {
    margin: 0 auto;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__logo {
    width: 121px;
    max-width: 100%;
  }

  &__logo-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__address {
    font-size: 12px;
    margin: 30px 0;

    font-family: TT Interfaces;
    text-transform: unset;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    color: rgba(19, 18, 18, 0.4);
    display: block;
  }

  &__drive {
    margin-bottom: 40px;

    display: block;
    font-family: TT Interfaces;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    text-decoration: underline;

    color: #{$green};
  }

  &__drive:hover {
    text-decoration: none;
  }

  &__bottom-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__cover {}
}

@import "b-langs";

@import "b-popup";

@media (min-width: $break-point-large-screen) {
  .menu {
    padding: get-vw(20px, $break-point-large-screen);
    width: $menu-width;

    &__link {
      font-size: get-vw(16px, $break-point-large-screen);
      padding: get-vw(6px, $break-point-large-screen) 0;
    }

    &__line {
      height: get-vw(2px, $break-point-large-screen);
      margin: get-vw(14px, $break-point-large-screen) 0;
    }

    &__logo {
      width: get-vw(121px, $break-point-large-screen);
    }

    &__address {
      font-size: get-vw(12px, $break-point-large-screen);
      margin: get-vw(30px, $break-point-large-screen) 0;
    }

    &__drive {
      font-size: get-vw(12px, $break-point-large-screen);
      margin-bottom: get-vw(40px, $break-point-large-screen);
    }
  }
}

@media (max-width: $break-point-tablet) {
  main {
    position: static;
    width: $full-main-width;
    margin-left: 0;

    &-fixed {
      overflow: hidden;
    }
  }

  .menu {
    position: fixed;
    top: -100vh;
    height: 100%;
    overflow: hidden;
    padding: get-vw(20px, $break-point-tablet);
    width: $full-main-width;
    transition: top 0.3s;

    &__link {
      font-size: 16px;
      padding: get-vw(6px, $break-point-tablet) 0;
    }

    &__line {
      height: get-vw(2px, $break-point-tablet);
      margin: get-vw(14px, $break-point-tablet) 0;
    }

    &__logo-box {
      margin: 0;
    }

    &__logo {
      width: 121px;
    }

    &__address {
      font-size: 12px;
      margin: get-vw(30px, $break-point-tablet) 0;
    }

    &__drive {
      font-size: 12px;
      margin-bottom: get-vw(40px, $break-point-tablet);
    }

    &--small {
      @include container();
      position: fixed;
      z-index: $z-index-menu;
      width: $half-main-width;
      top: 0;
      left: 0;
    }

    .button_green {
      width: $full-main-width;
    }
  }

  .menu_show {
    @include container();
    z-index: $z-index-menu-show;
    top: 0;
    height: 100%;
    overflow: hidden;
  }
}

@media (max-width: $break-point-mobile) {

  .menu {
    position: fixed;
    top: -100vh;
    height: 100%;
    overflow: hidden;
    padding: get-vw(20px, $break-point-mobile);
    width: $full-main-width;
    transition: top 0.3s;

    &__link {
      font-size: 16px;
      padding: get-vw(6px, $break-point-mobile) 0;
    }

    &__line {
      height: get-vw(2px, $break-point-mobile);
      margin: get-vw(14px, $break-point-mobile) 0;
    }

    &__logo-box {
      margin: 0;
    }

    &__logo {
      width: 121px;
    }

    &__address {
      font-size: 12px;
      margin: get-vw(30px, $break-point-mobile) 0;
    }

    &__drive {
      font-size: 12px;
      margin-bottom: get-vw(40px, $break-point-mobile);
    }

    &--small {
      @include container();
      position: fixed;
      z-index: $z-index-menu;
      width: 100%;
      top: 0;
      left: 0;
    }

    .button_green {
      width: $full-main-width;
    }
  }

  .menu_show {
    @include container();
    z-index: $z-index-menu-show;
    top: 0;
    height: 100%;
    overflow: hidden;
  }
}
