main {
  margin-left: 25vw;
  width: 75vw;
  position: relative;
}

.menu {
  padding: 1.5625vw;
  background: #{$gray};
  width: 25vw;
  height: 100vh;
  position: fixed;
  display: flex;
  z-index: $z-index-menu;
  flex-direction: column;

  &__link {
    font-family: Akrobat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    text-decoration-line: none;
    margin: 0.9375vw 0;
    transition: .15s color;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #{$black};
  }

  &__link:hover {
    color: #{$green};
  }

  &__line {
    background-color: rgba(19, 18, 18, 0.1);
    height: 2px;
    border: none;
    margin: 1.5625vw 0;
  }

  &__line:first-of-type {
    margin-bottom: 0.625vw;
  }

  &__logo {
    position: relative;
    width: 9.453125vw;
    left: 50%;
    margin-left: -4.6875vw;
  }

  &__address {
    font-family: TT Interfaces;
    text-transform: unset;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    margin: 2.34375vw 0;


    color: #{$gray-text};
  }

  &__drive {
    font-family: TT Interfaces;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    text-decoration: underline;
    margin-bottom: 3.125vw;

    color: #{$green};
  }

  &__drive:hover {
    text-decoration: none;
  }
}

@import "b-langs";

@media (min-width: $break-point-large-screen) {
  .menu {
    &__link {
      font-size: get-vw(16px, $break-point-large-screen);
    }

    &__line {
      height: get-vw(2px, $break-point-large-screen);
    }

    &__address {
      font-size: get-vw(12px, $break-point-large-screen);
    }

    &__drive {
      font-size: get-vw(12px, $break-point-large-screen);
    }
  }
}

@media (max-width: $break-point-tablet) {
  main {
    position: static;
    width: 100vw;
    margin-left: 0;
  }

  .menu {
    display: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;

    &--small {
      @include container();
      position: fixed;
      z-index: $z-index-menu;
      width: 50vw;
      top: 0;
      left: 0;
    }
  }
}

@media (max-width: $break-point-mobile) {
  .menu {
    &--small {
      width: 100vw;
    }
  }
}