.preloader {
  z-index: $z-index-menu-show;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: top 0.6s;
  background: #E5E5E5;

  &--done {
    top: -100vh;
  }

  &__line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: none;
    height: 0;
    width: 2px;
    background-color: $green;
    z-index: 30;
  }
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: $break-point-mobile) {
  .preloader {

    &__line {
      height: 2px;
      width: 0;
      position: absolute;
      bottom: 50%;
      left: 0;
    }
  }
}