.popup {
  z-index: $z-index-menu-show;
  position: fixed;
  right: 0;
  top: -100vh;
  width: $main-width;
  height: 100%;
  overflow: hidden;
  transition: top 0.5s;

  &__body {
    display: flex;
    @include container();
    flex-direction: column;
    background: $green;
    min-height: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 20px;
  }

  &__close {
    text-align: right;
    background-repeat: no-repeat;
    cursor: pointer;

    a {
      content: " ";
      text-align: right;
      text-decoration: none;
      color: $white;
      vertical-align: center;
    }

    img {
      &:hover {
        transform: rotate(90deg);
        transition: transform 0.5s;
      }
    }
  }

  &__success {
    display: none;
    font-family: TT Interfaces;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }

  &__active {
    top: 0;
  }
}

.form {
  &__input {
    font-size: 16px;
    padding: 20px 0;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    font-family: Akrobat;
    font-style: normal;
    font-weight: bold;
    line-height: 100%;
    text-transform: uppercase;
    appearance: none;

    color: rgba(255, 255, 255, 1);

    &--time {
      color: rgba(255, 255, 255, 0.4);
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.4);
    }
  }

  &__option {
    padding: 0;

    &--opacity {
      color: rgba(255, 255, 255, 0.4);
    }
  }

  &__btn {
    margin-top: 40px;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__error {
      display: none;
      font-family: TT Interfaces;
      text-transform: none;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 140%;
      color: #FF2B2B;
      padding: 4px 0;

      &--show {
        display: block;
      }
    }
  }
}

@media (min-width: $break-point-large-screen) {
  .popup {
    height: 100%;
    overflow: hidden;

    &__success {
      font-size: get-vw(14px, $break-point-large-screen);
    }
  }
}

@media (max-width: $break-point-tablet) {
  .popup {
    height: 100%;
    overflow: hidden;
    width: 100%;

    &__form {
      width: 100%;
    }
  }
}

@media (max-width: $break-point-mobile) {
  .popup {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
}