.popup {
  position: fixed;
  width: $main-width;
  z-index: $z-index-menu-show;
  height: 100vh;
  right: 0;
  top: 0;
  transform: translateY(-100vh);
  transition: transform 0.5s;

  &__body {
    display: flex;
    @include container();
    flex-direction: column;
    background: $green;
    min-height: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 20px;
  }

  &__close {
    text-align: right;
    background-repeat: no-repeat;
    cursor: pointer;

    a {
      content: " ";
      text-align: right;
      text-decoration: none;
      color: $white;
      vertical-align: center;
    }


    img {
      &:hover {
        transform: rotate(90deg);
        transition: transform 0.5s;
      }
    }

  }

  &__success {
    display: none;
    font-family: TT Interfaces;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }

  &__active {
    transform: translateY(0);
  }
}

@media (min-width: $break-point-large-screen) {
  .popup {
    &__success {
      font-size: get-vw(14px, $break-point-large-screen);
    }
  }
}