.preloader {
  z-index: $z-index-popup;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: top 0.5s;
  background: #{$gray};
  padding: 20px;

  &__logo-container {
    width: 25%;
    position: fixed;
    top: 20px;
    left: 0;
    opacity: 1;
  }

  &__logo-box {
    display: block;
    margin: 0 auto;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    width: 121px;
    max-width: 100%;
  }

  &--done {
    top: -100vh;
  }

  &__line {
    position: absolute;
    bottom: 0;
    left: 62.5%;
    transform: none;
    height: 0;
    width: 2px;
    background-color: $green;
    z-index: 30;
  }
}

.no-scroll {
  overflow: hidden;
}

@media (min-width: $break-point-large-screen) {
  .preloader {
    padding: get-vw(20px, $break-point-large-screen);

    &__logo-container {
      top: get-vw(20px, $break-point-large-screen);
    }

    &__logo {
      width: get-vw(121px, $break-point-large-screen);
    }

    &__line {
      width: get-vw(2px, $break-point-large-screen);
    }
  }
}

@media (max-width: $break-point-tablet) {
  .preloader {
    padding: get-vw(20px, $break-point-tablet);

    &__logo-container {
      top: get-vw(20px, $break-point-tablet);
    }

    &__logo {
      width: get-vw(121px, $break-point-tablet);
    }

    &__line {
      width: get-vw(2px, $break-point-tablet);
    }
  }
}

@media (max-width: $break-point-mobile) {
  .preloader {

    &__logo-container {
      top: 20px;
      left: 20px;
    }

    &__line {
      height: 2px;
      width: 0;
      position: absolute;
      bottom: 50%;
      left: 0;
    }

    &__logo {
      width: 121px;
    }
  }
}