.preloader {
  z-index: $z-index-popup;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: top 1s;
  background: transparent;
  padding: 20px;

  &__cover {
    transition: right 1s, top 1s;
    z-index: $z-index-popup;
    position: fixed;
    right: 0;
    top: 0;
    width: 75%;
    height: 100vh;
    background: #{$gray};
  }

  &__logo-container {
    position: relative;
    z-index: $z-index-popup;
    width: 25%;
    position: fixed;
    top: 20px;
    left: 0;
    opacity: 1;
  }

  &__logo-box {
    display: block;
    margin: 0 auto;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    width: 121px;
    max-width: 100%;
  }

  &--done {
    top: -100vh;

    .preloader__cover {
      right: -100vw;
    }
  }

  &__line {
    position: absolute;
    bottom: 0;
    left: 25%;
    transform: none;
    height: 0;
    width: 2px;
    background-color: $green;
    z-index: 30;
  }
}

.no-scroll {
  overflow: hidden;
}

@media (min-width: $break-point-large-screen) {
  .preloader {
    padding: get-vw(20px, $break-point-large-screen);

    &__logo-container {
      top: get-vw(20px, $break-point-large-screen);
    }

    &__logo {
      width: get-vw(121px, $break-point-large-screen);
    }

    &__line {
      width: get-vw(2px, $break-point-large-screen);
    }
  }
}

@media (max-width: $break-point-tablet) {
  .preloader {
    padding: get-vw(20px, $break-point-tablet);

    &__logo-container {
      top: get-vw(20px, $break-point-tablet);
    }

    &__logo {
      width: get-vw(121px, $break-point-tablet);
    }

    &__cover {
      width: 100%;
    }

    &__line {
      left: 50%;
      width: 2px;
    }

    &--done {
      top: -100vh;

      .preloader__cover {
        right: 0;
        top: -100vh;
      }
    }
  }
}

@media (max-width: $break-point-mobile) {
  .preloader {

    &__logo-container {
      top: 20px;
      left: 20px;
    }

    &__line {
      height: 2px;
      width: 0;
      position: absolute;
      top: 40%;
      left: 0;
    }

    &__logo {
      width: 121px;
    }
  }
}
