.reviews {
  @include container();
  background: #{$white};

  &__title {
    color: #{$green};
    padding: 0 0 10px;
  }

  &__more-item {
    color: #{$white};
    display: flex;
    justify-content: flex-end;
    opacity: 0.4;
    bottom: 0;
    margin: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
  }

  &__item {
    background: #{$white};
    display: flex;
    width: 50%;
    margin-bottom: 40px;

    &:nth-child(odd) {
      border-right: 2px solid $gray-border;
      padding-right: 20px;
    }

    &:nth-child(even) {
      padding-left: 20px;
      border-right: 2px solid transparent;
    }

    &-avatar {
      margin-right: 20px;
      min-width: 80px;
      height: 80px;
      width: 80px;
      background: #{$green};
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: relative;

      span {
        font-size: 40px;
        color: #{$white};
        position: absolute;
        left: 25%;
        top: 25%;
        font-family: Akrobat;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;

        display: flex;
        align-items: center;
        text-transform: uppercase;
      }
    }

    &-inner {
      &__name {
        color: #{$green};

        font-family: Akrobat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
      }

      &__mark {
        padding: 0;
        margin-top: get-vw(7px, 1280px);
      }

      &__massage {
        color: #{$black};
        opacity: 0.7;
        padding: get-vw(10px, 1280px) 0;
        max-height: 80px;
        overflow: hidden;
        transition: all 0.5s;

        &--show {
          max-height: 100%;
          overflow: visible;
        }
      }

      &__more {
        color: #{$black};
        opacity: 0.4;
        margin: 13px 0 0 0;

        background: none;
        border: none;
        text-decoration: none;
        padding: 0;
        cursor: pointer;
      }
    }
  }

  &__star {
    svg {
      width: 20px;
      height: 20px;
    }

    .star {
      fill: #{$white};
      stroke: #{$green};
    }

    &--active {
      .star {
        fill: #{$green};
        stroke: #{$green};
      }
    }
  }

  &_green {
    background: #{$green};

    .reviews {
      &__title {
        color: #{$white};
      }

      &__item {
        background: #{$green};

        &-avatar {
          background: #{$white};

          span {
            color: #{$green};
          }
        }

        &-inner {
          &__name {
            color: #{$white};
          }

          &__mark {
            .reviews__star {
              .star {
                fill: #{$green};
                stroke: #{$white};
              }
            }

            .reviews__star--active {
              .star {
                fill: #{$white};
                stroke: #{$white};
              }
            }
          }

          &__massage {
            color: #{$white};
            opacity: 0.7;
          }

          &__more {
            color: #{$white};
            opacity: 0.4;
          }
        }
      }
    }
  }
}

@media (min-width: $break-point-large-screen) {
  .reviews {

    &__title {
      color: #{$green};
      padding: 0 0 #{get-vw(10px, $break-point-large-screen)};
    }

    &__list {
      padding-top: #{get-vw(40px, $break-point-large-screen)};
    }

    &__item {
      margin-bottom: #{get-vw(40px, $break-point-large-screen)};

      &:nth-child(odd) {
        border-right: #{get-vw(2px, $break-point-large-screen)} solid $gray-border;
        padding-right: #{get-vw(20px, $break-point-large-screen)};
      }

      &:nth-child(even) {
        padding-left: #{get-vw(20px, $break-point-large-screen)};
        border-right: #{get-vw(2px, $break-point-large-screen)} solid transparent;
      }

      &-inner {
        &__name {
          font-size: #{get-vw(20px, $break-point-large-screen)};
        }

        &__mark {
          margin-top: #{get-vw(7px, $break-point-large-screen)};
        }

        &__massage {
          padding: #{get-vw(10px, $break-point-large-screen)} 0;
          max-height: #{get-vw(80px, $break-point-large-screen)};
          overflow: hidden;

          &--show {
            max-height: 100%;
            overflow: visible;
          }
        }
      }

      &-avatar {
        margin-right: #{get-vw(20px, $break-point-large-screen)};
        min-width: #{get-vw(80px, $break-point-large-screen)};
        height: #{get-vw(80px, $break-point-large-screen)};
        width: #{get-vw(80px, $break-point-large-screen)};

        span {
          font-size: #{get-vw(40px, $break-point-large-screen)};
        }
      }
    }

    &__star {
      svg {
        width: #{get-vw(20px, $break-point-large-screen)};
        height: #{get-vw(20px, $break-point-large-screen)};
      }
    }
  }
}

@media (max-width: $break-point-tablet) {
  .reviews {
    &__title {
      padding: 0 0 #{get-vw(20px, $break-point-tablet)};
    }

    &__list {
      padding-top: #{get-vw(20px, $break-point-tablet)};
    }

    &__item {
      margin-bottom: #{get-vw(40px, $break-point-tablet)};

      &:nth-child(odd) {
        border-right: #{get-vw(2px, $break-point-tablet)} solid $gray-border;
        padding-right: #{get-vw(20px, $break-point-tablet)};
      }

      &:nth-child(even) {
        padding-left: #{get-vw(20px, $break-point-tablet)};
        border-right: #{get-vw(2px, $break-point-tablet)} solid transparent;
      }

      &-avatar {
        margin-right: #{get-vw(20px, $break-point-tablet)};
        min-width: #{get-vw(80px, $break-point-tablet)};
        height: #{get-vw(80px, $break-point-tablet)};
        width: #{get-vw(80px, $break-point-tablet)};

        span {
          font-size: #{get-vw(40px, $break-point-tablet)};
        }
      }
    }

    &__star {
      svg {
        width: #{get-vw(20px, $break-point-tablet)};
        height: #{get-vw(20px, $break-point-tablet)};
      }
    }
  }
}

@media (max-width: $break-point-mobile) {
  .reviews {
    &__title {
      padding: 0 0 #{get-vw(20px, $break-point-mobile)};
    }

    &__more-item {
      justify-content: flex-start;
    }

    &__list {
      padding-top: 0;
    }

    &__item {
      width: 100%;
      margin: 0;
      padding: 20px 0;
      border-bottom: #{get-vw(2px, $break-point-tablet)} solid $gray-border;

      &:nth-child(odd) {
        border-right: none;
        padding-right: 0;
      }

      &:nth-child(even) {
        border-right: none;
        padding-left: 0;
      }

      &:nth-last-child(1) {
        border-bottom: none;
      }

      &-inner {
        &__name {
          font-size: 20px;
        }

        &__mark {
          margin-top: get-vw(8px, 320px);
        }

        &__massage {
          font-size: 14px;
          margin-top: #{get-vw(15px, $break-point-mobile)};
          margin-bottom: #{get-vw(20px, $break-point-mobile)};
        }

        &__more {
          font-size: 12px;
        }
      }

      &-avatar {
        display: none;
      }
    }

    &__star {
      svg {
        width: #{get-vw(20px, $break-point-mobile)};
        height: #{get-vw(20px, $break-point-mobile)};
      }
    }
  }
}
