
.carousel {
  background: $white;
}

.carousel-item {
  position: relative;
}

.carousel-cell {
  width: 100%;
  height: 600px;
  margin-right: 10px;
  background: $gray;
  counter-increment: carousel-cell;
  object-fit: cover;
}

.carousel-cell img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flickity-page-dots {
  display: none;
}

.carousel-title {
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;

  position: absolute;
  left: 20px;
  top: 20px;
}

.carousel-status {
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;

  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 0;
  color: white;
  font-size: 24px;
}